/**
  * This extends ng-trans
  */
.ng-trans-inplace-container
{
  width: 200%;
  transition: 0.3s height;

  .ng-trans-inplace
  {
    float: left;
    width: 50%;

    &:last-child
    {
      float: right;
      position: relative;
      left: -50%;
    }
  }
}
.ng-trans{
  -webkit-backface-visibility: hidden;
}

.slideanim4
{
  width: 400%;
  transition: 0.3s margin-left;

  .slideanim-item
  {
    width: 25%;
    float: left;
    padding: 20px;
  }

  &.panel2
  {
    margin-left: -100%;
  }
  &.panel3
  {
    margin-left: -200%;
  }
  &.panel4
  {
    margin-left: -300%;
  }
}

.slideanim3
{
  width: 300%;
  transition: 0.3s margin-left;

  .slideanim-item
  {
    width: 33.333333%;
    float: left;
    padding: 20px;
  }

  &.panel2
  {
    margin-left: -100%;
  }
  &.panel3
  {
    margin-left: -200%;
  }
}

.slideanim2
{
  width: 200%;
  transition: 0.3s margin-left;

  .slideanim-item
  {
    width: 50%;
    float: left;
    padding: 20px;
  }

  &.panel2
  {
    margin-left: -100%;
  }
}


/* main view animation */
[data-ui-view]>div
{
  background-color: $background-color;
}
[data-ui-view].ng-enter, [data-ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.2s ease-out, opacity 0.2s ease;
}
[data-ui-view].ng-enter {
  opacity: 0;
  transform:scale3d(0.97, 0.97, 1);

  .add-item
  {
    transition: top 0.4s ease-out;
    top: 20px;
  }

}
[data-ui-view].ng-enter-active {
  opacity: 1;
  transform:scale3d(1, 1, 1);

  .add-item
  {
    top: -86px;
  }
}
[data-ui-view].ng-leave {
  opacity: 1;
  transform:scale3d(1, 1, 1);

  .add-item
  {
    transition: top 0.2s ease-in;
    top: -86px;
  }
}
[data-ui-view].ng-leave-active {
  opacity: 0;
  transform:scale3d(1.03, 1.03, 1.03);

  .add-item
  {
    top: 20px;
  }
}