/**
  * This extends ng-trans
  */
.ng-trans-inplace-container
{
  width: 200%;
  transition: 0.3s height;

  .ng-trans-inplace
  {
    float: left;
    width: 50%;

    &:last-child
    {
      float: right;
      position: relative;
      left: -50%;
    }
  }
}
.ng-trans{
  -webkit-backface-visibility: hidden;
}


.slideanim3
{
  width: 300%;
  transition: 0.3s margin-left;

  .slideanim-item
  {
    width: 33.333333%;
    float: left;
    padding: 20px;
  }

  &.panel2
  {
    margin-left: -100%;
  }
  &.panel3
  {
    margin-left: -200%;
  }
}
