html, body
{
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

iframe {
  width: 100%;
  border: 0 none;
}

::selection
{
  background-color: $brand-primary;
  color: #fff;
}
::-moz-selection
{
  background-color: $brand-primary;
  color: #fff;
}

#mainCanvas
{
  height: calc(100% - #{$navbar-height + 2*16px});
  min-height: calc(100% - #{$navbar-height + 2*16px});
  margin-top: $navbar-height + 16px;
  position: relative;
  margin-left: 15px;
  width: calc(100% - 2*15px);
}

/* we need this on many many divs so we can style our main content with relative height */
.fullheight,
.next-fullheight>div
{
  height: 100%;
}
.max-fullheight
{
  max-height: 100%;
}
.fixedheight-250
{
 height: 250px;
}
.halfheight
{
  height: 50%;
  &.panel
  {
    height: calc(50% - 10px); /* substract half bottom margin */
  }
}
.thirdheight
{
  height: 33%;
  &.panel
  {
    height: calc(33% - 13.3px) /* substract one third ofa 2 bottom margins (2 gaps divided on 3 panels) */
  }
}
.col-fixedwidth-35
{
  padding-left: $padding-base-horizontal;
  padding-right: $padding-base-horizontal;
  width: 35px + 2*$padding-base-horizontal;
  float: left;
}
.col-beneath-fixedwidth-35
{
  padding-left: $padding-base-horizontal;
  padding-right: 2.5*$padding-base-horizontal;
  width: calc(100% - #{35px + 2*$padding-base-horizontal});
  float: left;
}
.col-fixedwidth-46
{
  padding-left: $padding-base-horizontal;
  padding-right: $padding-base-horizontal;
  width: 46px + 2*$padding-base-horizontal;
  float: left;
}
.col-beneath-fixedwidth-46
{
  padding-left: $padding-base-horizontal;
  padding-right: $padding-base-horizontal;
  width: calc(100% - #{46px + 2*$padding-base-horizontal});
  float: left;
}

.fixedheight-360
{
  height: 360px;
}
.under-fixedheight-360
{
  height: calc(100% - 360px);
  &.panel
  {
    height: calc(100% - 380px); /* remember the margin! */
  }
}

.fixedheight-320
{
  height: 320px;
}
.under-fixedheight-320
{
  height: calc(100% - 320px);
  &.panel
  {
    height: calc(100% - 340px); /* remember the margin! */
  }
}

.scroll-y
{
  overflow: auto !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.scroll-y-permanent
{
  overflow: scroll !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
.nopadding
{
  padding: 0 !important;
}
.nomargin
{
  margin: 0 !important;
}
.list-under-filter
{
  height:  calc(100% - 58px);
}
.panel-under-tabs {
  height:  calc(100% - 41px);
}


.list-group,
.navbar,
.detail-view
{
  overflow: hidden;
}
.list-group,
.navbar,
.detail-view,
.panel-default
{
  @include card(3);
}
.list-group
{
  background-color: #fff;
}



.panel-heading
{
  border-bottom: 1px solid $gray-lighter;
}

.navbar
{
  border: none !important;
}



.btn-toolbar {
  border-bottom: 1px solid $gray-lighter;
}

a
{
  cursor: pointer;
}

button:disabled
{
  cursor: default !important;
}

.varcheck
{
  &.var-is-false .varcheck-if-true
  {
    display: none;
  }
  &.var-is-true .varcheck-if-false
  {
    display: none;
  }
}

h1, h2
{
  margin-top: 0;
}

.panel-body-fullscreen-wysiwyg
{
  padding: 20px;
}

.wysiwyg-fullheight
{
  height: 100%;

  .note-editor
  {
    height: 100% !important;

    .note-codeable,
    .note-editable
    {
      height: calc(100% - 45px) !important;
    }
  }
}

.ipe-wysiwyg-fullheight
{
  height: 100%;

  >p
  {
    height: 100%;
    >span
    {
      height: 100%;

      div.ipe
      {
        height: 100%;
        margin: -20px;
        .note-editor
        {
          height: calc(100% + 40px) !important; /* 40px = 2* negative margin*/

          .note-codeable,
          .note-editable
          {
            height: calc(100% - 45px) !important;
          }
          .note-resizebar
          {
            display: none;
          }
        }
      }
    }
  }
}


.less-important,.secondary {
  font-size: 0.9*$font-size-base;
}
.less-important{
  color: $gray-light;
}

.position-relative {
  position: relative;
}

$panel-heading-height: 64px;
.panel-default
{
  .panel-heading
  {
    height: $panel-heading-height;
    padding: 0;
    margin: 0;
    width: 100%; /* this is awkward... but we need this */
    background-color: #fff;
    border-bottom: 1px solid $gray-lighter;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    >*
    {
      line-height: $panel-heading-height;
      padding: 0 20px;
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    >.row
    {
      margin-left: -$grid-gutter-width/2;
      margin-right: -$grid-gutter-width/2;
    }
    h3
    {
      color: $brand-primary;
    }
    i.state-icon
    {
      line-height: $panel-heading-height;
      margin-right: 20px;
    }
    .btn-group
    {
      padding-right: 0;
      margin-right: -20px;
    }
    button.btn {
      height: $panel-heading-height;
      line-height: $panel-heading-height - 4px;
      font-size: $font-size-small;
      padding: 0 10px;
      border-top: 2px solid transparent !important;
      border-bottom: 2px solid transparent !important;
      transition: 0.3s border-bottom, 0.3s background-color;
      border-radius: 0 !important;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }

      &.active {
        border-bottom: 2px solid $brand-primary !important;
      }
    }
    .padding-top
    {
      padding-top: 15px;
    }
  }
  .panel-heading+.panel-body
  {
    height: calc(100% - #{$panel-heading-height});
  }

  &.buttons-left
  {
    margin-left: 52px;
  }
}

.nooverflow
{
  overflow:hidden;
}
.nomargin
{
  margin: 0;
}
.margin-bottom
{
  margin-bottom: 15px;
}
.margin-bottom-lg
{
  margin-bottom: 30px;
}
.margin-top
{
  margin-top: 15px;
}
.margin-top-lg
{
  margin-top: 30px;
}
.link-danger
{
  color: $brand-danger !important;
}

.bg-primary
{
  background-color: $brand-primary;
  color: #fff;

  .ipe
  {
    .form-group input.form-control, .form-group select.form-control, .form-group textarea.form-control, .form-group .select.form-control
    {
      color: #fff;
    }
    .bar:after, .bar:before
    {
      background-color: #fff;
    }
  }
  a
  {
    color: #ffffff;

    &:hover,
    &:active,
    &:focus
    {
      text-decoration: underline;
      color: $gray-lighter;
    }
  }
}

.btn.btn-fab
{
  display: block;
  padding: 0;
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  position: relative;
  @include card(5);
  border-radius: 50% !important;
  z-index: 99;

  i
  {
    font-size: 24px;
    line-height: 56px;
  }
}

.md-primary
{
  color: $brand-primary !important;
}


.fontsize-base {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

/* Shadow classes */
.shadow-0
{
  @include card(0);
  border: 1px solid $gray-lighter;
}
.shadow-1
{
  @include card(1);
}
.shadow-2
{
  @include card(2);
}
.shadow-3
{
  @include card(3);
}
.shadow-4
{
  @include card(4);
}
.shadow-5
{
  @include card(5);
}

/* sometimes we need an 0.5 and 11.5 width class */
@media (min-width: $screen-md)
{
  .col-md-05,
  .col-md-115 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-05 {
    width: 4.1515%;
  }
  .col-md-115 {
    width: 91.6667% + 4.1515%;
  }
}

