html, body
{
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

::selection
{
  background-color: $brand-primary;
  color: #fff;
}
::-moz-selection
{
  background-color: $brand-primary;
  color: #fff;
}

.scrollArea
{
  height: calc(100% - #{$navbar-height + $actionbar-height});
  min-height: calc(100% - #{$navbar-height + $actionbar-height});
  margin-top: $navbar-height +$actionbar-height;
  overflow-x: hidden;
  overflow-y: scroll;
}

#mainContent
{
  margin-top: 16px;
}


.list-group,
.navbar,
.detail-view
{
  @include card(1);
  overflow: hidden;
}
.panel-heading
{
  border-bottom: 1px solid $gray-lighter;
}

.navbar
{
  border: none !important;
}



.btn-toolbar {
  border-bottom: 1px solid $gray-lighter;
}

a
{
  cursor: pointer;
}

button:disabled
{
  cursor: default !important;
}

.varcheck
{
  &.var-is-false .varcheck-if-true
  {
    display: none;
  }
  &.var-is-true .varcheck-if-false
  {
    display: none;
  }
}



