html, body
{
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

::selection
{
  background-color: $brand-primary;
  color: #fff;
}
::-moz-selection
{
  background-color: $brand-primary;
  color: #fff;
}

#mainCanvas
{
  height: calc(100% - #{$navbar-height + $actionbar-height});
  min-height: calc(100% - #{$navbar-height + $actionbar-height});
  margin-top: $navbar-height +$actionbar-height;
  overflow: hidden;
}

#mainContent
{
  padding-top: 16px;
  padding-bottom: 16px;
}
/* we need this on many many divs so we can style our main content with relative height */
.fullheight,
.next-fullheight>div
{
  height: 100%;
}
.max-fullheight
{
  max-height: 100%;
}
.fixedheight-250 {
  max-height: 250px;
}
.halfheight
{
  height: 50%;
}
.scroll-y
{
  overflow: auto !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.scroll-y-permanent
{
  overflow: scroll !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
.nopadding
{
  padding: 0 !important;
}
.list-under-filter
{
  height:  calc(100% - 53px);
}


.list-group,
.navbar,
.detail-view
{
  overflow: hidden;
}
.list-group,
.navbar,
.detail-view,
.panel-default
{
  @include card(1);
}
.list-group
{
  background-color: #fff;
}



.panel-heading
{
  border-bottom: 1px solid $gray-lighter;
}

.navbar
{
  border: none !important;
}



.btn-toolbar {
  border-bottom: 1px solid $gray-lighter;
}

a
{
  cursor: pointer;
}

button:disabled
{
  cursor: default !important;
}

.varcheck
{
  &.var-is-false .varcheck-if-true
  {
    display: none;
  }
  &.var-is-true .varcheck-if-false
  {
    display: none;
  }
}

h1, h2
{
  margin-top: 0;
}

.wysiwyg-fullheight
{
  height: 100%;

  .note-editor
  {
    height: 100% !important;

    .note-codeable,
    .note-editable
    {
      height: calc(100% - 45px) !important;
    }
  }
}

.ipe-wysiwyg-fullheight
{
  height: 100%;

  >p
  {
    height: 100%;
    >span
    {
      height: 100%;

      div.ipe
      {
        height: 100%;
        margin: -20px;
        .note-editor
        {
          height: calc(100% + 40px) !important; /* 40px = 2* negative margin*/

          .note-codeable,
          .note-editable
          {
            height: calc(100% - 45px) !important;
          }
          .note-resizebar
          {
            display: none;
          }
        }
      }
    }
  }

  .note-editor
  {
    height: 100% !important;

    .note-codeable,
    .note-editable
    {
      height: calc(100% - 45px) !important;
    }
  }
}