.clientbox
{
  i.md
  {
    color: $brand-primary;
  }
  .listinfo-action-success i.md
  {
    color: $brand-success;
  }
  .row.spaceafter
  {
    margin-bottom: 15px;
  }
  .listinfo-row
  {
    padding: 0 0 15px 0;
    margin-bottom: 15px;
  }
  address
  {
    margin-bottom: 0;
  }

}