.clientbox
{
  i.md
  {
    color: $brand-primary;
  }
  .listinfo-action-success i.md
  {
    color: $brand-success;
  }

  .listinfo-row
  {
    padding: 0 0 15px 0;
    margin-bottom: 15px;
  }
  address
  {
    margin-bottom: 0;
  }

}
.row.spaceafter
 {
   margin-bottom: 15px;
 }