$numOfFastButtons: 5;
$fastButtonSize: 56px;

.fastbutton
{
  display: block;
  max-height: 100% / $numOfFastButtons;
  margin: 0 0 30px -#{$fastButtonSize/2 + $padding-base-horizontal};
  width: $fastButtonSize;
  height: $fastButtonSize;
  line-height: $fastButtonSize;
  text-align: center;
  position: relative;
  background-color: $brand-info;
  color: #fff;
  @include card(5);
  border-radius: 30px;
  transition: 0.3s background-color, 0.3s box-shadow;

  &.action
  {
    background-color: $brand-success;
    &:hover,
    &:focus,
    &:active
    {
      background-color: darken($brand-success, 5%);
    }
  }

  i
  {
    display: block;
    width: 100%;
    font-size: 24px;
    line-height: $fastButtonSize;
  }

  &:hover,
  &:focus,
  &:active
  {
    @include card(3);
    color: #fff;
    background-color: darken($brand-info, 5%);
    outline: none;
    text-decoration: none;
  }
  &:active
  {
    color: $gray-lighter;
    @include card(2);
  }
}

.stream-entry
{
  border-left: none !important;
  border-right: none !important;
  border-color: $gray-lighter !important;
  padding: 15px 25px;

  .stream-date
  {
    color: $gray-base;
  }
  h3
  {
    margin: 0 0 5px 0;
    line-height: 1.5;
    font-size: $font-size-h4;

    &:first-letter
    {
      text-transform: uppercase;
    }
  }

  .icon-bubble
  {
    display: inline-block;
    font: normal normal normal 24px/1 'Material Design Iconic Font';
    speak: none;
    text-rendering: auto;
    height: 46px;
    line-height: 46px;
    width: 46px;
    text-align: center;
    border-radius: 23px;
    background-color: $gray-light;
    color: #fff;
    opacity: 0.5;

    // Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* default action icons */
    &.icon-delete
    {
      &:before
      {
        content: "\f020"; /* md-delete */
      }
      background-color: $brand-danger;
    }
    &.icon-create
    {
      &:before
      {
        content: "\f0fb"; /* md-add */
      }
      background-color: $brand-success;
    }
    &.icon-generate
    {
      &:before
      {
        content: "\f060"; /* md-settings */
      }
      background-color: $brand-info;
    }
    &.icon-send
    {
      &:before
      {
        content: "\f119"; /* md-send */
      }
      background-color: $brand-success;
    }
    /* ToDo icons */
    &.icon-changestate\.todo\.0
    {
      &:before
      {
        content: "\f060"; /* md-settings */
      }
      background-color: $brand-warning;
    }
    &.icon-changestate\.todo\.1
    {
      &:before
      {
        content: "\f023"; /* md-done */
      }
      background-color: $brand-success;
    }
    &.icon-changestate\.todo\.2
    {
      &:before
      {
        content: "\f060"; /* md-settings */
      }
      background-color: $brand-danger;
    }
    /* Project icons */
    &.icon-changestate\.project\.0
    {
      &:before
      {
        content: "\f060"; /* md-settings */
      }
    }
    &.icon-changestate\.project\.1
    {
      &:before
      {
        content: "\f05e"; /* md-schedule */
      }
      background-color: $brand-info;
    }
    &.icon-changestate\.project\.2
    {
      &:before
      {
        content: "\f060"; /* md-settings */
      }
      background-color: $brand-warning;
    }
    &.icon-changestate\.project\.3
    {
      &:before
      {
        content: "\f05e"; /* md-schedule */
      }
      background-color: $brand-danger;
    }
    &.icon-changestate\.project\.4
    {
      &:before
      {
        content: "\f060"; /* md-settings */
      }
      background-color: $brand-danger;
    }
    &.icon-changestate\.project\.7
    {
      &:before
      {
        content: "\f023"; /* md-done */
      }
      background-color: $brand-success;
    }
    &.icon-changestate\.project\.8
    {
      &:before
      {
        content: "\f024"; /* md-done-all */
      }
      background-color: $brand-success;
    }
    /* invoice icons */
    &.icon-changestate\.invoice\.3
    {
      &:before
      {
        content: "\f023"; /* md-done */
      }
      background-color: $brand-success;
    }
    &.icon-changestate\.invoice\.4,
    &.icon-changestate\.invoice\.5
    {
      &:before
      {
        content: "\f05e"; /* md-schedule */
      }
      background-color: $brand-danger;
    }


  }

}