.detail-top-bar
{
  height: 100px;
  margin-bottom: 20px;
}
.under-detail-top-bar
{
  height: calc(100% - 100px - 20px);
  margin-bottom: 20px;
}

.panel-heading.panel-heading-primary
{
  height: 34px;
  color: #fff;
  background-color: $brand-primary;
  border: none;
  padding: 7px 15px;

  >* {
    line-height: 20px;
    padding: 0;
  }
  >.row{
    margin-left: -15px;
    margin-right: -15px;
  }
  .ipe .form-group input.form-control
  {
    color: #fff;
  }
  .ipe .bar:after,
  .ipe .bar:before
  {
    background-color: $gray-lighter !important;
  }
}

.under-panel-heading
{
  height: calc(100% - 34px);
}
.under-inpanel-tabbar
{
  height: calc(100% - 64px);
  overflow: hidden;
  width: 100%; /* we don't know why this is necessary, but it actually is... very strange */
}

strong.total
{
  font-size: $font-size-large;
}

.detail-inner-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.detail-inline
{
  display: inline-block;
  padding: 0 15px;
  vertical-align: top;

  &.detail-inline-date
  {
    width: 240px;

    >i, .date-container
    {
      display: inline-block;
    }
    >i
    {
      vertical-align: top !important;
    }

    .date-container
    {
      width: 180px;
    }
  }
}