.filebox
{
  .fa
  {
    font-size: 150px;
    color: $gray-lighter;
    display: block;
    vertical-align: middle;
    text-align: right;
    height: 100%;

    &:before
    {
      vertical-align: middle;
    }
  }

  .filedetails
  {
    margin-top: 70px;

    h2 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  height: 225px;
  margin-bottom: 30px;
}

span.wider
{
  letter-spacing: 0.5px;
}