//
// Forms
// --------------------------------------------------


// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.form-control {
  height: 2.5*$font-size-base - ($font-size-base/3); // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: (1.5*$font-size-base/2) 0 (1.5*$font-size-base/4);
  margin-bottom: (1.5*$font-size-base/4);
  color: $input-color;
  border: 0;
  border-bottom: 1px solid $input-border;
  @include box-shadow(inset 0 0 0 transparent);
  @include transition(border-bottom-width ease-in-out .25s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  &:focus {
    border-bottom-width: 2px;
    @include box-shadow(inset 0 0 0 transparent);
  }


  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    color: $input-color-placeholder;
    border-style: dotted;
  }

  // [converter] extracted textarea& to textarea.form-control
}