//
// Forms
// --------------------------------------------------


// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.form-control {


  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    color: $input-color-placeholder;
    border-style: dotted;
  }

  // [converter] extracted textarea& to textarea.form-control
}

.ipe
{
  cursor: pointer;
  &.ipe-active {
    cursor: default;
  }

  .form-group
  {
    margin-bottom: 0;
  }

  .ipe-empty
  {
    color: $gray-lighter;
    transition: 0.3s color;


    &:hover
    {
      color: $text-color;
    }
  }
}

.ipe .form-control
{
  font-size: inherit;
  height: auto;
  line-height: inherit !important;
  padding-top: 0 !important;
}

/*
 * Material Design Inputs: https://scotch.io/tutorials/google-material-design-input-boxes-in-css3
 */
.form-group {
  position: relative;
  /*margin-bottom: 45px;*/

  input.form-control,
  .multiselect>.select
  {
    height: 2.5*$font-size-base - ($font-size-base/3); // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  }

  input.form-control,
  select.form-control,
  textarea.form-control,
  .select.form-control{

    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $gray-light;
    background-color: transparent;

    padding: (1.5*$font-size-base/2) 0 (1.5*$font-size-base/4);
    margin-bottom: 0;
    color: $input-color;

    @include box-shadow(inset 0 0 0 transparent);

    // Customize the `:focus` state to imitate native WebKit styles.
    @include form-control-focus;

    &:focus {
      outline: none;
      -moz-outline: none;
      @include box-shadow(inset 0 0 0 transparent);
      border-bottom-color: $gray-light;
    }
    &::-moz-focus-inner {
      border:0;
      -moz-outline: none;
      outline: none;
    }

    .option
    {

      &:focus
      {
        outline: none !important;
        -moz-outline: none;
      }
      &::-moz-focus-inner {
        border:0;
        -moz-outline: none;
        outline: none;
      }
    }

  }

  select.form-control
  {
    &:active,
    &:hover
    {
      outline: none !important;
    }
  }
  /* LABEL ======================================= */
  label {
    /*visibility: hidden;*/
    display: none;
  }


  /* BOTTOM BARS ================================= */
  .bar {
    position: relative;
    display: block;
    width: 100%;
  }
  .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: -1px;
    position: absolute;
    background-color: $brand-primary;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }

  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after,
  textarea:focus ~ .bar:before, textarea:focus ~ .bar:after,
  select:focus ~ .bar:before, select:focus ~ .bar:after,
  .select.focussed ~ .bar:before, .select.focussed ~ .bar:after{
    width: 50%;
  }

  .ng-invalid.ng-touched ~ .bar:before,
  .ng-invalid.ng-touched ~ .bar:after
  {
    background-color: $brand-danger;
  }

  input[type="checkbox"].switch {
    display: none;

    + .switch-indicator {
      display: inline-block;
      cursor: pointer;
      width: 30px;
      height: 10px;
      border-radius: 10px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        margin-top: -5px;
        border-radius: 100%;
        transition: all 250ms ease-in-out;
      }
    }
    &[data-ng-checked="false"] + .switch-indicator {
      background-color: $gray-light;

      &:after {
        background-color: $gray;
        margin-left: -10px;
      }
    }
    &[data-ng-checked="true"] + .switch-indicator {
      background-color: $brand-success;

      &:after {
        background-color: $brand-primary;
        margin-left: 20px;
      }
    }
  }

}

.btn
{
  border: none !important;
  border-radius: 2px !important;
  @include transition(all 0.3s ease);
}


/* Buttons in input */
.buttons-above-input
{
  position: relative;

  &.bai-3
  {
    input, textarea
    {
      padding-right: 100px; /* TODO define correct right padding */
    }
    &.ipe-price{
      .form-inline {
        padding-right: 100px;
      }
      input {
        padding-right: 0;
      }
    }
  }
  &.bai-2
  {
    input, textarea
    {
      padding-right: 60px; /* TODO define correct right padding */
    }

    &.ipe-price{
      .form-inline {
        padding-right: 60px;
      }
      input {
        padding-right: 0;
      }
    }
  }
  &.bai-1
  {
    input, textarea
    {
      padding-right: 30px; /* TODO define correct right padding */
    }
    &.ipe-price{
      .form-inline {
        padding-right: 30px;
      }
      input {
        padding-right: 0;
      }
    }
  }

  .bai-buttons
  {
    float: right;
    position: absolute;
    top: -2px;
    right: 5px;

    .btn-icon-round
    {
      padding: 3px 6px !important;
      i
      {
        margin: 0;
      }
    }
  }
}

.btn-link
{
  transition: 0.3s background-color;

  &.btn-primary
  {
    color: $brand-primary;
  }
  &.btn-success
  {
    color: $brand-success;
  }
  &.btn-info
  {
    color: $brand-info;
  }
  &.btn-warning
  {
    color: $brand-warning;
  }
  &.btn-danger
  {
    color: $brand-danger;
  }

  &:hover
  {
    background-color: $body-bg;
  }
  &:focus,
  &:active
  {
    outline: none !important;
    background-color: $body-bg;
  }
}
.btn-rounded
{
  border-radius: 999px !important;
}
.btn-icon-round
{
  @extend .btn-rounded;
  i
  {
      margin: 0 -3.5px;
  }
}

/* Summernote */
.note-toolbar
{
  margin: 0 0 !important;
  padding: 0 5px 5px 5px !important;
}

textarea
{
  resize: vertical !important;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

/* Select fields */
.select.form-control:after{
  font-family: "Material Design Iconic Font";
  content: '\f295';
  float: right;
  margin: 0 5px;
}
.select{
  .placeholder {
    color: $gray-base;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 2px 0 0; // override default ul
  list-style: none;
  font-size: $font-size-base;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-fallback-border; // IE8 fallback
  border: 1px solid $dropdown-border;
  border-radius: $border-radius-base;
  @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
  background-clip: padding-box;
  width: 100%;

  .form-group {
    margin-bottom: 3px;
    padding: 0 10px;
  }

  .list-group {
    margin-bottom: 0;
    max-height: 250px;
    overflow-y: scroll;

    .list-group-item {
      min-height: $line-height-base*$font-size-base+20px;
    }
  }
}

.panel-filter
{
  padding-top: 6px;
}

.input-group-addon {
  background-color: transparent;
  border: 0 none;
}


$checkbox-size: 40px;
.checkbox input[type="checkbox"].switch{
  display: none;

  +.switch-indicator {
    display: inline-block;
    cursor: pointer;
    width: $checkbox-size;
    height: $checkbox-size;
    border-radius: $checkbox-size/2;
    position: relative;
    transition: all 300ms ease;

    &:after {
      content: "\f299";
      font: normal normal normal $checkbox-size*0.6 /1 'Material Design Iconic Font';
      color: #fff;
      speak: none;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      position: absolute;
      text-align: center;
      line-height: $checkbox-size;
      top:-2px;
      left: -2px;
      width: $checkbox-size;
      height: $checkbox-size;
      margin-top: 0;
      border-radius: 100%;
      transform-origin: center center;
      transition: all 300ms cubic-bezier(1.000, -1.600, 0.000, 1.600);
    }
  }
  &[data-ng-checked="false"]+.switch-indicator {
    background-color: transparent;
    border: 2px solid $gray-dark;

    &:after {
      background-color: transparent;
      margin-left: 0;
      transform: scale(0.0);
      transition: all 300ms cubic-bezier(1.000, 2.000, 0.000, 1.000);
    }
  }
  &[data-ng-checked="true"]+.switch-indicator {
    border: 2px solid $brand-success;
    background-color: $brand-success;

    &:after {
      background-color: transparent;
      margin-left: 0;
      transform: scale(1.0);
      transition: all 300ms cubic-bezier(1.000, 0, 0.000, 2.750);
    }
  }
}

// Date inputs
.datepicker-container
{
  overflow: hidden;
  position: absolute;
  z-index: 99;
  @include card(5);
  background-color: #ffffff;
  width: 180px;

  .pickadate-head,
  .pickadate-centered-heading
  {
    color: $brand-primary;
  }

  input {
    padding-right: 0 !important;
  }
}
.datepicker-fixed .datepicker-container
{
  position: fixed;
}


// Summernote
.note-editor
{
  border: 1px solid $gray-lighter;

  .note-dropzone
  {
    opacity: 0 !important;
  }
  .note-toolbar
  {
    border-bottom: 1px solid $gray-lighter;

    button
    {
      color: $brand-primary;
    }
  }
  .note-resizebar
  {
    border-top: 1px solid $gray-lighter !important;

    .note-iconbar
    {
      border-top: 1px solid $gray-light !important;
    }
  }
}

/* Drag n drop fileupload */
.fileinput
{
  width: 100%;
  height: 100px;
  background-color: $gray-lighter;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: $gray-base;
  transition: 0.3s background-color, 0.3s color;
  border-radius: 2px;

  &:hover
  {
    background-color: rgba($brand-info, 0.6) !important;
    color: #fff;
  }
  &.active
  {
    background-color: rgba($brand-info, 0.5);
    color: #fff;
  }
  &.invalid
  {
    background-color: rgba($brand-danger, 0.6) !important;
    color: #fff;
  }

  .hidden-fileinput
  {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
  }

  .fileinput-inner
  {
    text-align: center;
    height: 100%;

    &:before
    {
      content: ' ';
      width: 1px;
      height: 100%;
      display: inline-block;
      opacity: 0;
      vertical-align: middle;
    }
    span
    {
      vertical-align: middle;
      display: inline-block;
      font-size: $font-size-h3;
    }
    i
    {
      font-size: 60px;
      vertical-align: middle;
    }
  }
}

.btn.linebefore
{
  margin-top: -32px;
}
