//
// Forms
// --------------------------------------------------


// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.form-control {


  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    color: $input-color-placeholder;
    border-style: dotted;
  }

  // [converter] extracted textarea& to textarea.form-control
}

.ipe
{
  cursor: pointer;

  .form-group
  {
    margin-bottom: 0;
  }

  .ipe-empty
  {
    color: $gray-lighter;
    transition: 0.3s color;


    &:hover
    {
      color: $text-color;
    }
  }
}

/*
 * Material Design Inputs: https://scotch.io/tutorials/google-material-design-input-boxes-in-css3
 */
.form-group {
  position: relative;
  /*margin-bottom: 45px;*/

  input.form-control
  {
    height: 2.5*$font-size-base - ($font-size-base/3); // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  }

  input.form-control,
  select.form-control,
  textarea.form-control {

    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $gray-light;
    background-color: transparent;

    padding: (1.5*$font-size-base/2) 0 (1.5*$font-size-base/4);
    margin-bottom: 0;
    color: $input-color;

    @include box-shadow(inset 0 0 0 transparent);

    // Customize the `:focus` state to imitate native WebKit styles.
    @include form-control-focus;

    &:focus {
      outline: none;
      -moz-outline: none;
      @include box-shadow(inset 0 0 0 transparent);
      border-bottom-color: $gray-light;
    }
    &::-moz-focus-inner {
      border:0;
      -moz-outline: none;
      outline: none;
    }

    .option
    {

      &:focus
      {
        outline: none !important;
        -moz-outline: none;
      }
      &::-moz-focus-inner {
        border:0;
        -moz-outline: none;
        outline: none;
      }
    }

  }
  /* LABEL ======================================= */
  label {
    /*visibility: hidden;*/
    display: none;
  }


  /* BOTTOM BARS ================================= */
  .bar {
    position: relative;
    display: block;
    width: 100%;
  }
  .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: -1px;
    position: absolute;
    background-color: $brand-primary;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }

  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after,
  textarea:focus ~ .bar:before, textarea:focus ~ .bar:after,
  select:focus ~ .bar:before, select:focus ~ .bar:after {
    width: 50%;
  }

  .ng-invalid.ng-touched ~ .bar:before,
  .ng-invalid.ng-touched ~ .bar:after
  {
    background-color: $brand-danger;
  }
}

.btn
{
  border: none !important;
  border-radius: 2px !important;
  @include transition(all 0.3s ease);
}


/* Buttons in input */
.buttons-above-input
{
  position: relative;

  &.bai-3
  {
    input, textarea
    {
      padding-right: 100px; /* TODO define correct right padding */
    }
  }
  &.bai-2
  {
    input, textarea
    {
      padding-right: 60px; /* TODO define correct right padding */
    }
  }
  &.bai-1
  {
    input, textarea
    {
      padding-right: 30px; /* TODO define correct right padding */
    }
  }

  .bai-buttons
  {
    float: right;
    position: absolute;
    top: 2px;
    right: 5px;

    .btn-icon-round
    {
      padding: 3px 6px !important;
      i
      {
        margin: 0;
      }
    }
  }
}

.btn-link
{
  transition: 0.3s background-color;

  &.btn-primary
  {
    color: $brand-primary;
  }
  &.btn-success
  {
    color: $brand-success;
  }
  &.btn-info
  {
    color: $brand-info;
  }
  &.btn-warning
  {
    color: $brand-warning;
  }
  &.btn-danger
  {
    color: $brand-danger;
  }

  &:hover
  {
    background-color: $body-bg;
  }
  &:focus,
  &:active
  {
    outline: none !important;
    background-color: $body-bg;
  }
}
.btn-rounded
{
  border-radius: 999px !important;
}
.btn-icon-round
{
  @extend .btn-rounded;
  i
  {
      margin: 0 -3.5px;
  }
}

/* Summernote */
.note-toolbar
{
  margin: 0 0 !important;
  padding: 0 5px 5px 5px !important;
}

textarea
{
  resize: vertical !important;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}