.masterlist
{
  h3
  {
    text-align: right;
    line-height: 1.0;
    padding: 0 0 10px 0;
    font-size: 14px;
    color: $gray-light;
    margin: 0;
  }
  h2
  {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
}

$detail-toolbar-height: 64px;

.detail-view {
  padding: 0;
  background: #fff;
  /*margin-top: 51px;*/
  border-left: none;


  .detail-inner
  {
    padding: 20px 20px 0 20px;
    height: calc(100% - #{$detail-toolbar-height});

    .seamless
    {
      margin: 0 -20px;
    }

    h1, h2
    {
      margin-top: 0;
    }
  }
}

.detail-view .btn-toolbar,
.btn-toolbar.inpanel-tabbar {
  margin: 0;
  padding: 0;
  height: $detail-toolbar-height;
  line-height: $detail-toolbar-height;

  &.inpanel-tabbar
  {
    border-top: 1px solid $gray-lighter;
  }

  .btn-group button.btn {
    height: $detail-toolbar-height;
    line-height: $detail-toolbar-height - 4px;
    font-size: $font-size-small;
    padding: 0 10px;
    border-top: 2px solid transparent !important;
    border-bottom: 2px solid transparent !important;
    transition: 0.3s border-bottom, 0.3s background-color;
    border-radius: 0 !important;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &.active {
      border-bottom: 2px solid $brand-primary !important;
    }
  }

  h3
  {
    color: $brand-primary;
    padding: 20px 20px 0 20px;
    line-height: 23px;
    margin: 0;
  }
}

.note-editor .btn-toolbar .btn-group button.btn
{
  height:34px !important;
  line-height: 30px !important;
}

.clientSwitch
{
  display: block;
  width: 20px;
  height: 19px;
  border-radius: 1px;
  overflow: hidden;

  .dot
  {
    display: block;
    background-color: $brand-primary;
    width: 5px;
    height: 5px;
    float: left;
    margin-right: 2px;
    transition: 0.3s width, 0.3s margin-right;

    &:nth-child(3n)
    {
      margin-right: 0;
    }
    &:nth-child(-n+6)
    {
      margin-bottom: 2px;
    }
  }

  &.active
  {
    .dot
    {
      &:nth-child(3n+2)
      {
        width: 12px;
        margin-right: 0;
      }
      &:nth-child(3n)
      {
        width: 0;
        margin-right: 0;
      }
    }
  }
}

.panel-filter
{
  overflow: visible !important;

  input
  {
    padding-left: $padding-base-horizontal !important;
    border-bottom: none !important;
  }
}

.client-categories
{
  margin-bottom: 15px;

  .chip:last-child .btn-icon-round:hover
  {
    background-color: $brand-success;
  }
}

.sidelabel
{
  margin: 0 0 0 -20px !important;
  padding: 5px 5px 5px 20px !important;
  color: #ffffff !important;
  background-color: $brand-primary !important;
  font-size: $font-size-base !important;
  line-height: $line-height-base !important;

  .md
  {
    position: relative;
    top: -1px;
    padding-right: 5px;
  }
}
.sidelabel-right
{
  padding: 5px 0;
}
.detail-block
{
  margin-bottom: 30px;


  .row
  {
    padding-top: 5px;
    padding-bottom: 5px;

    .form-group
    {
      margin-bottom: 0;
    }

    .btn.btn-link
    {
      margin-top: -5px;
      margin-bottom: -5px;
      margin-left: -5px;
    }


    &.striped:nth-child(odd)
    {
      background-color: $gray-lighter;

      .ipe-empty
      {
        color: $gray-light;
        &:hover
        {
          color: $text-color;
        }
      }
    }
    &.striped:last-child
    {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

.client-heading
{
  height: 94px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $gray-lighter;

  .client-categories
  {
    margin-right: -20px;
    height: 28px;
  }
}

.under-client-heading
{
  height: calc(100% - 94px);
}