a.list-group-item
{
  margin-bottom: 0 !important;
}


.masterlist
{
  h3
  {
    text-align: right;
    line-height: 1.0;
    padding: 0 0 10px 0;
    font-size: 14px;
    color: $gray-light;
    margin: 0;
  }
  h2
  {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
}

$detail-toolbar-height: 64px;

.detail-view {
  padding: 0;
  background: #fff;
  /*margin-top: 51px;*/
  border-left: none;


  .detail-inner
  {
    padding: 0 20px;
    height: calc(100% - #{$detail-toolbar-height});

    .seamless
    {
      margin: 0 -20px;
    }

    h1, h2
    {
      margin-top: 0;
    }
  }
}

.detail-view .btn-toolbar,
.btn-toolbar.inpanel-tabbar {
  margin: 0;
  padding: 0;
  height: $detail-toolbar-height;
  line-height: $detail-toolbar-height;

  &.inpanel-tabbar
  {
    border-top: 1px solid $gray-lighter;
  }

  .btn-group button.btn {
    height: $detail-toolbar-height;
    line-height: $detail-toolbar-height - 4px;
    font-size: $font-size-small;
    padding: 0 10px;
    border-top: 2px solid transparent !important;
    border-bottom: 2px solid transparent !important;
    transition: 0.3s border-bottom, 0.3s background-color;
    border-radius: 0 !important;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &.active {
      border-bottom: 2px solid $brand-primary !important;
    }
  }

  h3, .h3
  {
    color: $brand-primary;
    padding: 20px 20px 0 20px;
    line-height: 23px;
    margin: 0;
  }
}

.note-editor .btn-toolbar .btn-group button.btn
{
  height:34px !important;
  line-height: 24px !important;
}

.clientSwitch
{
  display: block;
  width: 20px;
  height: 19px;
  border-radius: 1px;
  overflow: hidden;

  .dot
  {
    display: block;
    background-color: $brand-primary;
    width: 5px;
    height: 5px;
    float: left;
    margin-right: 2px;
    transition: 0.3s width, 0.3s margin-right;

    &:nth-child(3n)
    {
      margin-right: 0;
    }
    &:nth-child(-n+6)
    {
      margin-bottom: 2px;
    }
  }

  &.active
  {
    .dot
    {
      &:nth-child(3n+2)
      {
        width: 12px;
        margin-right: 0;
      }
      &:nth-child(3n)
      {
        width: 0;
        margin-right: 0;
      }
    }
  }
}

.panel-filter
{
  overflow: visible !important;

  input
  {
    padding-left: $padding-base-horizontal !important;
    border-bottom: none !important;
  }
}

.client-categories
{
  margin-bottom: 15px;

  .chip:last-child .btn-icon-round:hover
  {
    background-color: $brand-success;
  }
}

.sidelabel
{
  margin: 0 !important;
  color: $brand-primary !important;
  font-size: 2*$font-size-base !important;
  line-height: $line-height-base !important;


}
.sidelabel-right
{
  padding: 5px 0;
}
.detail-block
{
  margin-bottom: 30px;

  i.md-add-circle-outline
  {
    position: relative;
    top: 2px;
  }
  h3
  {
    margin-top: 10px;
  }

  .detail-value
  {
    padding-top: 10px;
    padding-bottom: 10px;

    .form-group
    {
      margin-bottom: 0;
    }

    .btn.btn-link
    {
      margin-top: -5px;
      margin-bottom: -5px;
      margin-left: -5px;
    }


    &.striped:nth-child(odd)
    {
      background-color: $gray-lighter;

      .ipe-empty
      {
        color: $gray-light;
        &:hover
        {
          color: $text-color;
        }
      }
    }
    &.striped:last-child
    {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

.client-heading
{
  height: 94px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $gray-lighter;

  .client-categories
  {
    margin-right: -20px;
    height: 28px;
  }
}

.under-client-heading
{
  height: calc(100% - 94px);
}

.master-todo
{
  .check
  {
    position: absolute;
    right: 30px;
    top: 5px;
  }
  .list-group-item
  {
    min-height: 71px;
  }
}


.add-item
{
  position: absolute;
  left: 30px;
  top: -86px;
}


/* document state icons */
.icon-docstate
{
  display: inline-block;
  font: normal normal normal 24px/1 'Material Design Iconic Font';
  speak: none;
  text-rendering: auto;
  height: 46px;
  line-height: 46px;
  width: 46px;
  text-align: center;
  border-radius: 23px;
  background-color: $gray-light;
  color: #fff;
  opacity: 0.5;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.icon-docstate--1
  {
    background-color: $brand-danger;
    &:after
    {
      content: "\f29a"; /* md-close */
    }
  }
  &.icon-docstate-0
  {
    background-color: $gray-light;
    &:after
    {
      content: "\f060"; /* md-settings */
    }
  }
  &.icon-docstate-1
  {
    background-color: $brand-info;
    &:after
    {
      content: "\f060"; /* md-settings */
    }
  }
  &.icon-docstate-2
  {
    background-color: $brand-success;
    &:after
    {
      content: "\f05e"; /* md-schedule */
    }
  }
  &.icon-docstate-reminder.icon-docstate-2
  {
    background-color: $brand-success;
    &:after
    {
      content: "\f119"; /* md-send */
    }
  }
  &.icon-docstate-3
  {
    background-color: $brand-success;
    &:after
    {
      content: "\f023"; /* md-done */
    }
  }
  &.icon-docstate-4,
  &.icon-docstate-5
  {
    background-color: $brand-danger;
    &:after
    {
      content: "\f05e"; /* md-schedule */
    }
  }
  &.icon-docstate-contract
  {
    background-color: $brand-success;
    &:after
    {
      content: "\f021"; /* md-description */
    }
  }
  &.icon-docstate-fileContract
  {
    background-color: $brand-info;
    &:after
    {
      content: "\f168"; /* md-attach-file */
    }
  }
  &.icon-docstate-todo,
  &.icon-todostate.icon-docstate-0
  {
    background-color: $brand-warning;
    &:after
    {
      content: "\f060"; /* md-settings */
    }
  }
  &.icon-docstate-tododone,
  &.icon-todostate.icon-docstate-1
  {
    background-color: $brand-success;
    &:after
    {
      content: "\f023"; /* md-done */
    }
  }
  &.icon-docstate-todooverdue,
  &.icon-todostate.icon-docstate-2
  {
    background-color: $brand-danger;
    &:after
    {
      content: "\f060"; /* md-settings */
    }
  }
}
