$navbar-bottomline-height: 2px;

.navbar
{
  &.navbar-inverse {
    background-color: #fff;
    color: $text-color;
    @include card(1);
  }

  .applogo
  {
    padding: 12px;
    display: block;
    height: $navbar-height;
    background-color: $brand-primary;
    float: left;
    position: relative;
    left: -15px;

    img
    {
      width: 46px;
      height: 40px;
    }
  }

  .apptitle
  {
    h1
    {
      font-size: $font-size-large;
      line-height: $navbar-height / 2;
      height: $navbar-height / 2;
      padding: 0;
      margin: 0;
    }

    #mainNav,
    #actionMenu
    {
      list-style: none;
      margin: 0;
      padding: 0;
      height: $navbar-height / 2;

      li
      {
        display: inline-block;
      }

      a, button
      {
        padding: $navbar-bottomline-height  15px 0 15px;
        line-height: $navbar-height/2 - 2*$navbar-bottomline-height;
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-radius: 0 !important;
        background-color: #ffffff;
        color: $link-color;
        border-bottom-width: $navbar-bottomline-height;
        border-bottom-style: solid;
        border-bottom-color: #ffffff;
        transition: 0.3s color, 0.3s border-bottom-color, 0.3s background-color;

        &:hover,
        &:active
        {
          color: $link-hover-color;
          background-color: $gray-lighter;
          border-bottom-color: $gray-lighter;
        }

        i
        {
          position: relative;
          top: -1px;
        }
      }
      button
      {
        padding-bottom: 2*$navbar-bottomline-height;
      }

      .active a,
      button.active
      {
        background-color: #ffffff;
        border-bottom-color: $brand-primary !important;
        padding-bottom: 0;
        color: $link-color;
      }
    }
    #mainNav
    {
      margin-left: -15px;
    }
  }
  #topRightNav.navbar-nav
  {
    li
    {
      a
      {
        transition: 0.3s background-color;
      }
      a:hover,
      a:active,
      a:focus
      {
        outline: none;
        background-color: $gray-lighter !important;
      }
    }

  }
}
