.nav#mainNav
{
  @include card(1);
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  background-color: #fff;

  li
  {

    a {
      padding: 15px 22px 15px 22px;
      cursor: pointer;
      transition: 0.3s background-color, 0.3s color;

      &:hover {
        background-color: $body-bg !important;
        color: $brand-primary !important;
      }
    }

    &.active
    {
      a
      {
        background-color: $body-bg;
        color: $text-color !important;
      }
    }

  }
}