.navbar
{
  &.navbar-inverse {
    color: #fff;
  }

  h1
  {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: $navbar-height;
  }

  &.amanu-actionbar{
    margin-top: $navbar-height;
    min-height: $actionbar-height;

    .navbar-nav>li>a {
      padding-bottom: 6px;
      padding-top: 6px;
    }
  }
}