$dot-size: 14px;
$ps-total-size: 140px;

.payment-stats,
.todo-stats
{
  .timeline-container
  {
    padding: 70px 50px 0 50px;
    border-bottom: 1px solid $gray-lighter;
  }

  .timeline
  {
    position: relative;

    .t-entry
    {
      position: absolute;
      bottom: -$dot-size/2;
      z-index: 99;

      .dot
      {
        width: $dot-size;
        height: $dot-size;
        border-radius: $dot-size/2;
        background-color: $brand-success;
        position: relative;
        left: -$dot-size/2;
        cursor: pointer;
      }

      .info
      {
        display: block;
        visibility: hidden;
        opacity: 0.0;
        transition: 0.3s opacity;
        position: absolute;
        width: 100px;
        margin-left: -50px;
        height: 50px;
        top: -(50px + $dot-size);
        background-color: $brand-success;
        color: #fff;
        padding: 5px 10px;
        text-align: center;

        &:after
        {
          content: " ";
          display: block;
          text-indent: -9999px;
          font-size: 0;
          line-height: 0;
          width: 2*$dot-size;
          height: 2*$dot-size;
          border-width: $dot-size;
          border-style: solid;
          border-top-color: $brand-success;
          border-right-color: transparent;
          border-left-color: transparent;
          border-bottom-color: transparent;
          position: absolute;
          bottom: -2*$dot-size;
          left: 50%;
          margin-left: -$dot-size;
          cursor: pointer;
        }

        .date
        {
          font-size: $font-size-small;
        }

      }

      .dot:hover+.info,
      .t-entry:hover .info,
      .info:hover
      {
        visibility: visible;
        opacity: 1.0;
      }

    }
  }

  .today,
  .enddate
  {
    padding: $dot-size 15px 0 15px;
    color: $gray-light;
    text-transform: uppercase;
  }
  .today
  {
    border-left: 1px solid $gray-lighter;
  }
  .enddate
  {
    border-right: 1px solid $gray-lighter;
  }
  .ps-overdue-container,
  .ps-dayx-container
  {
    padding-bottom: 70px;
    margin-bottom: -70px;

    .ps-overdue,
    .ps-dayx
    {
      display: inline-block;
      border-top: 1px solid $gray-lighter;
      padding: 15px;
      min-height: 80px;
      width: 160px;

      span
      {
        display: block;

        &.price
        {
          font-size: $font-size-large;
        }
        &.price-caption
        {
          color: $gray-light
        }
      }

    }
  }

  .ps-overdue-container
  {
    border-left: 1px solid $gray-lighter;

    .ps-overdue
    {
      padding-right: 0;

      .price
      {
        color: $brand-danger;
      }
      &.allgood
      {
        .price
        {
          color: $gray-light;
        }
      }
      &.default
      {
        .price
        {
          color: $gray-dark;
        }
      }
    }
  }

  .ps-dayx-container
  {
    border-right: 1px solid $gray-lighter;

    .ps-dayx
    {
      padding-left: 0;

      .price
      {
        color: $gray-dark;
      }
      &.nothing
      {
        .price
        {
          color: $gray-light;
        }
      }
    }
  }
  .ps-total-container-outer
  {
    width: 30%;
    margin: 0 auto;

    .ps-total-container
    {
      height: 0;
      padding-bottom: 100%;
      margin-bottom: -50%;
      position: relative;

      .ps-total
      {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 999px;
        background-color: $brand-success;

        z-index: 89;

        text-align: center;
        padding-top: 30%;

        &.nototal
        {
          background-color: $gray-dark;
        }

        span
        {
          display: block;
          color: #fff;

          &.price
          {
            font-size: $font-size-large;
          }
        }

      }
    }
  }
  .price-caption
  {
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.single
  {
    .ps-overdue-container,
    .ps-dayx-container
    {
      padding-bottom: 20px;
      margin-bottom: -20px;
    }
    .timeline-container
    {
      padding-top: 20px;
    }
  }
}

.todo-stats
{
  .ps-total
  {
    background-color: $brand-warning !important;
    padding-top: 0 !important;
  }
  .pie
  {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $brand-success;
    transition: 0.3s all;
  }
}