// Material color palette: http://www.google.com/design/spec/style/color.html#color-color-palette

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #9E9E9E;
$gray-darker:            #212121;
$gray-dark:              #757575;
$gray:                   $gray-base;
$gray-light:             #BDBDBD;
$gray-lighter:           #EEEEEE;

$brand-primary:         #546E7A; // Blue Grey 600
$brand-success:         #00897B; // Teal 600
$brand-info:            #00ACC1; // Cyan 600
$brand-warning:         #FFB300; // Amber 600
$brand-danger:          #F4511E; // Deep Orange 600


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #ECEFF1; // Blue grey 50
//** Global text color on `<body>`.
$text-color:            #263238; // Blue grey 900

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


// Border radius
$border-radius-base: 0 0 0 0;$font-family-sans-serif:  "robotoregular", Helvetica, Arial, sans-serif !default;


//== Forms
//
//##

//** `<input>` background color
$input-bg:                       transparent;
//** `<input disabled>` background color
$input-bg-disabled:              $gray-lighter !default;

//** Text color for `<input>`s
$input-color:                    $text-color;
//** `<input>` border color
$input-border:                   $gray-light;

// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:            0;
//** Large `.form-control` border radius
$input-border-radius-large:      0;
//** Small `.form-control` border radius
$input-border-radius-small:      0;

//** Border color for inputs on focus
$input-border-focus:             $brand-primary;

//** Placeholder text color
$input-color-placeholder:        #999 !default;

//** Default `.form-control` height
//$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
//** Large `.form-control` height
//$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
//** Small `.form-control` height
//$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

//** Background color for textual input addons
$input-group-addon-bg:           $gray-lighter !default;
//** Border color for textual input addons
$input-group-addon-border-color: $input-border !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed !default;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    #fff !default;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;

//** Dropdown link text color.
$dropdown-link-color:            $gray-dark !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         #f5f5f5 !default;

//** Active dropdown menu item text color.
//$dropdown-link-active-color:     $component-active-color !default;
//** Active dropdown menu item background color.
//$dropdown-link-active-bg:        $component-active-bg !default;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light !default;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-light !default;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000 !default;