<span data-ng-switch="ipe.editMode">
    <span data-ng-switch-default data-ng-click="ipe.enterEditMode()">
        {{val}} <span data-ng-if="!val">+ {{key}}</span>
    </span>
    <label data-ng-switch-when="true">
        <input data-ng-if="ipe.type != 'textarea'" data-ng-model="ipe.val" type="{{ipe.type}}">
        <textarea data-ng-if="ipe.type == 'textarea'" data-ng-model="ipe.val"></textarea>
        <button class="btn btn-success" data-ng-click="ipe.save()">Save</button>
        <button class="btn btn-warning" data-ng-click="ipe.cancel()">Cancel</button>
        <button class="btn btn-danger" data-ng-if="ipe.deletable != false" data-ng-click="ipe.deleteItem()">X</button>
    </label>
</span>