<span data-ng-switch="ipe.editMode">
    <span data-ng-switch-default data-ng-click="ipe.enterEditMode()" class="ipe">
        {{val}} <span data-ng-if="!val" class="ipe-empty">+ {{name}}</span>
    </span>
    <div data-ng-switch-when="true">
        <div data-ng-if="ipe.type != 'textarea'"
             data-material-input
             data-ng-model="ipe.val"
             data-input-type="{{ipe.type}}"
             data-input-label="{{name}}"></div>
        <textarea data-ng-if="ipe.type == 'textarea'" data-ng-model="ipe.val"></textarea>
        <button class="btn btn-success" data-ng-click="ipe.save()">Save</button>
        <button class="btn btn-warning" data-ng-click="ipe.cancel()">Cancel</button>
        <button class="btn btn-danger" data-ng-if="ipe.deletable != false" data-ng-click="ipe.deleteItem()">X</button>
    </div>
</span>