<div class="modal show ng-trans ng-trans-fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="change.cancel()"><i class="md md-close"></i></button>
                <h4>{{'user.changePassword'|translate:change}}</h4>
            </div>
            <div class="modal-body">
                <div data-material-input
                     data-ng-model="change.password1"
                     data-input-id="change-password1"
                     data-input-label="{{'user.password'|translate}}"
                     data-input-type="password"
                     data-input-required="true"></div>
                <div data-material-input
                     data-ng-model="change.password2"
                     data-input-id="change-password2"
                     data-input-label="{{'user.password2'|translate}}"
                     data-input-type="password"
                     data-input-required="true"></div>
                <p class="text-danger">{{change.errorMessage|translate}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-ng-click="change.accept()">{{'global.ok'|translate}}</button>
                <button class="btn btn-info" data-ng-click="change.cancel()">{{'global.cancel'|translate}}</button>
            </div>
        </div>
    </div>
</div>