<div class="modal show ng-trans ng-trans-fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="error.close()"><i class="md md-close"></i></button>
                <h4 class="modal-title">{{error.code|amaStates:'error'|translate}}</h4>
            </div>
            <div class="modal-body">
                <p>{{error.code|amaStates:'errorDescription'|translate}}</p>
                <p>{{'errors.additionalInformation'|translate}}</p>
                <p>{{error.message}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" type="button" data-ng-click="error.close()">{{'global.ok'|translate}}</button>
            </div>
        </div>
    </div>
</div>