<div class="modal show ng-trans ng-trans-fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="next.close()"><i class="md md-close"></i></button>
                <h4>{{'nextStep.transformThis'|translate:next.before}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="list-group"
                             data-list-navigation="next.select"
                             data-list="next.options"
                             data-active="next.selected">
                            <a class="list-group-item" data-ng-repeat="option in next.options" data-ng-class="{active:option == next.selected}" data-ng-click="next.select(option)">
                                {{option.name|translate}}
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <span class="checkbox" data-ng-click="next.copyItems = !next.copyItems">
                            <i class="md" data-ng-class="{'md-check-box':next.copyItems,'md-check-box-outline-blank':!next.copyItems}"></i> {{'nextStep.copyItems'|translate}}
                        </span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-ng-click="next.transform()">{{'global.ok'|translate}}</button>
                <button class="btn btn-info" data-ng-click="next.close()">{{'global.cancel'|translate}}</button>
            </div>
        </div>
    </div>
</div>