<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-xs-2">
                <a data-ui-sref="app.dashboard" class="applogo">
                    <img src="/img/logo.svg" alt="a" />
                </a>
            </div>
            <div class="col-xs-10">
                <h1>{{module.content.title|translate}}</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div data-ama-menu data-menuname="'topRightNav'"></div>
    </div>
</div>

