
<div class="row">
    <div class="col-xs-8">
        <a data-ui-sref="app.dashboard" class="applogo">
            <img src="/img/logo.svg" alt="a" />
        </a>
        <div class="apptitle">
            <h1>{{module.content.title|translate}}</h1>
        </div>
    </div>
    <div class="col-xs-4">
        <div data-ama-menu data-menuname="'topRightNav'"></div>
    </div>
</div>
<div class="colorbar-container" data-ng-class="{'notloading':$root.loaded}">
    <div class="colorbar"></div>
</div>

