<div class="detail-view" data-ng-controller="ProjectDetailCtrl as project">
    <div class="btn-toolbar">
        <div class="btn-group btn-group-sm pull-right">
            <button class="btn btn-link" data-ng-controller="ProjectsCtrl as list" data-ng-click="list.deleteClient(project.project.id)"><i class="md md-lg md-delete"></i></button>
        </div>
    </div>
    <h1>
        <span data-in-place-edit
              data-api-id="project.project.id"
              data-api-name="'project'"
              data-ipe-key="'name'"
              data-ipe-value="project.project.name"
              data-ipe-name="'projects.name'|translate"
              data-ipe-deletable="false"
                ></span>
        <small>{{project.project.client.companyname}}</small>
    </h1>
    <div class="row">
        <div class="col-sm-6">
            <p data-in-place-edit
               data-api-id="project.project.id"
               data-api-name="'poject'"
               data-ipe-key="'description'"
               data-ipe-value="project.project.description"
               data-ipe-name="'projects.description'|translate"
               data-ipe-type="'textarea'"
                    ></p>
        </div>
        <div class="col-sm-6">
            <p data-ng-if="project.project.client" data-ui-sref="app.clients({id:{{project.project.client.id}}})">
                {{project.project.client.companyname}}<br />
                {{project.project.client.street_no}}<br />
                {{project.project.client.zip}} {{project.project.client.city}}<br />
                {{project.project.client.country}}
            </p>
        </div>
    </div>

    <h3>{{'projects.offers'|translate}}</h3>
    <ul>
        <li data-ng-repeat="offer in project.project.offers">
            <a data-ui-sref="app.offers({id:{{offer.id}}})">{{offer.name}}</a>
        </li>
    </ul>
    <h3>{{'projects.contracts'|translate}}</h3>
    <ul>
        <li data-ng-repeat="contract in project.contracts | orderBy:'date'">
            {{contract.name}} {{contract.type}}
        </li>
    </ul>
    <h3>{{'projects.todos'|translate}}</h3>
    <ul>
        <li data-ng-repeat="todo in project.project.todos">
            {{todo.name}}
        </li>
    </ul>
    <h3>{{'projects.acceptances'|translate}}</h3>
    <ul>
        <li data-ng-repeat="acceptance in project.project.acceptances">
            <a data-ui-sref="app.acceptances({id:{{acceptance.id}}})">{{acceptance.name}}</a>
        </li>
    </ul>
    <h3>{{'projects.invoices'|translate}}</h3>
    <ul>
        <li data-ng-repeat="invoice in project.project.invoices">
            <a data-ui-sref="app.invoices({id:{{invoice.id}}})">{{invoice.name}}</a>
        </li>
    </ul>
</div>