<div class="detail-view fullheight" data-ng-controller="ItemDetailCtrl as item">
    <div class="btn-toolbar">

        <div class="row">
            <div class="col-sm-5">

                <h3 data-in-place-edit
                    data-ipe-key="'name'"
                    data-ipe-value="item.item.name"
                    data-api-name="'item'"
                    data-api-id="item.item.id"
                    data-ipe-name="'items.name'|translate"></h3>

            </div>
            <div class="col-sm-7">

                <div class="btn-group btn-group-sm pull-right" data-ng-init="item.showPage = 1">
                    <button class="btn btn-link" data-ng-click="item.showPage = 1" data-ng-class="{active: item.showPage==1}"><i class="md md-lg md-comment"></i> {{'global.description' | translate}}</button>
                    <button class="btn btn-link" data-ng-click="item.showPage = 2" data-ng-class="{active: item.showPage==2}"><i class="md md-lg md-payment"></i> {{'items.pricing' | translate}}</button>
                    <button class="btn btn-link" data-ng-click="item.showPage = 3" data-ng-class="{active: item.showPage==3}"><i class="md md-lg md-link"></i> {{'items.connections'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-inner nopadding">


        <div class="slideanim3 fullheight" data-ng-class="{panel2: item.showPage==2, panel3: item.showPage==3}">

            <div class="slideanim-item fullheight">

                <div class="ipe-wysiwyg-fullheight">
                    <p data-in-place-edit
                       data-ipe-key="'description'"
                       data-ipe-value="item.item.description"
                       data-ipe-type="'wysiwyg'"
                       data-api-name="'item'"
                       data-api-id="item.item.id"
                       data-ipe-name="'global.description'|translate"></p>
                </div>

            </div>

            <div class="slideanim-item fullheight scroll-y">

                <h3>{{'items.expectedRate'|translate}}</h3>
                <div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="1" data-ng-model="item.item.userate" data-ng-change="item.changeUseRate()">
                            {{'items.hourlyRate'|translate}}:</label><span data-in-place-edit
                                                                    data-ipe-key="'hourlyrates'"
                                                                    data-ipe-value="item.item.hourlyrates"
                                                                    data-api-name="'item'"
                                                                    data-ipe-type="'text'"
                                                                    data-api-id="item.item.id"
                                                                    data-ipe-name="'items.hourlyRates'|translate"></span> {{'items.hours'|translate}} à <span data-in-place-edit
                                                                                                                                                              data-ipe-value="item.item.hourlyrate"
                                                                                                                                                              data-ipe-key="'hourlyrate'"
                                                                                                                                                              data-api-name="'item'"
                                                                                                                                                              data-ipe-type="'price'"
                                                                                                                                                              data-api-id="item.item.id"
                                                                                                                                                              data-ipe-name="'items.hourlyRate'|translate"></span>

                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="2" data-ng-model="item.item.userate" data-ng-change="item.changeUseRate()">
                            {{'items.dailyRate'|translate}}:</label> <span data-in-place-edit
                                                                   data-ipe-key="'dailyrates'"
                                                                   data-ipe-type="'text'"
                                                                   data-ipe-value="item.item.dailyrates"
                                                                   data-api-name="'item'"
                                                                   data-api-id="item.item.id"
                                                                   data-ipe-name="'items.dailyRates'|translate"></span> {{'items.days'|translate}} à <span data-in-place-edit
                                                                                                                                                           data-ipe-value="item.item.dailyrate"
                                                                                                                                                           data-ipe-key="'dailyrate'"
                                                                                                                                                           data-api-name="'item'"
                                                                                                                                                           data-ipe-type="'price'"
                                                                                                                                                           data-api-id="item.item.id"
                                                                                                                                                           data-ipe-name="'items.dailyRate'|translate"></span>

                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="0" data-ng-model="item.item.userate" data-ng-change="item.changeUseRate()">
                            {{'items.fixedRate'|translate}}:</label> <span data-in-place-edit
                                                                   data-ipe-value="item.item.fixedrate"
                                                                   data-ipe-key="'fixedrate'"
                                                                   data-api-name="'item'"
                                                                   data-ipe-type="'price'"
                                                                   data-api-id="item.item.id"
                                                                   data-ipe-name="'items.fixedRate'|translate"></span>
                    </div>

                    <div class="detail-block">
                        <div class="row striped" data-ng-repeat="time in item.time">
                            <div class="col-sm-4">
                                {{time.username}}
                            </div>
                            <div class="col-sm-3">
                                {{time.start|amaDate:'dd.MM.yyyy HH:mm'}}
                            </div>
                            <div class="col-sm-3">
                                {{time.end|amaDate:'dd.MM.yyyy HH:mm'}}
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-link btn-icon-round btn-warning" data-ng-if="!time.end" data-ng-click="item.stopTime(time.id)"><i class="md md-stop"></i></button>
                                <button class="btn btn-link btn-icon-round btn-danger" data-ng-click="item.deleteTime(time.id)"><i class="md md-delete"></i></button>
                            </div>
                        </div>
                        <div class="row striped">
                            <div class="col-sm-4">
                                {{'items.newTime'|translate}}
                            </div>
                            <div class="col-sm-2 col-sm-offset-6">
                                <button class="btn btn-link btn-icon-round btn-success" data-ng-click="item.startTime()"><i class="md md-play-arrow"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="slideanim-item fullheight scroll-y">

                <button class="btn btn-link" data-ng-click="item.deleteItem()"><i class="md md-lg md-delete"></i></button>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>{{'items.alsoIn'|translate}}</h3>
                        <ul data-ng-if="item.isConnected">
                            <li data-ng-if="item.connections.offer.id">
                                <a data-ui-sref="app.offerDetail({id:item.connections.offer.id})">{{item.connections.offer.name}}</a>
                            </li>
                            <li data-ng-if="item.connections.contract.id">
                                <a data-ui-sref="app.contractDetail({id:item.connections.contract.id})">{{item.connections.contract.name}}</a>
                            </li>
                            <li data-ng-if="item.connections.todo.id">
                                <a data-ui-sref="app.todoDetail({id:item.connections.todo.id})">{{item.connections.todo.name}}</a>
                            </li>
                            <li data-ng-if="item.connections.acceptance.id">
                                <a data-ui-sref="app.contractDetail({id:item.connections.acceptance.id})">{{item.connections.acceptance.name}}</a>
                            </li>
                            <li data-ng-if="item.connections.invoice.id">
                                <a data-ui-sref="app.invoiceDetail({id:item.connections.invoice.id})">{{item.connections.invoice.name}}</a>
                            </li>
                        </ul>
                        <p data-ng-if="!item.isConnected">{{'items.alsoInNone'|translate}}</p>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>

            </div>



        </div>
    </div>
</div>