<div class="detail-view fullheight" data-ng-controller="ItemDetailCtrl as item">
    <div class="btn-toolbar">

        <div class="row">
            <div class="col-sm-5">

                <h3 data-in-place-edit
                    data-ipe-key="'name'"
                    data-ipe-value="item.item.name"
                    data-api-name="'item'"
                    data-api-id="item.item.id"
                    data-ipe-name="'items.name'|translate"></h3>

            </div>
            <div class="col-sm-7">

                <div class="btn-group btn-group-sm pull-right">
                    <button class="btn btn-link" data-ng-click="item.setPage(1)" data-ng-class="{active: item.showPage==1}"><i class="md md-lg md-comment"></i> {{'global.description' | translate}}</button>
                    <button class="btn btn-link" data-ng-click="item.setPage(2)" data-ng-class="{active: item.showPage==2}"><i class="md md-lg md-payment"></i> {{'items.pricing' | translate}}</button>
                    <button class="btn btn-link" data-ng-click="item.setPage(3)" data-ng-class="{active: item.showPage==3}"><i class="md md-lg md-link"></i> {{'items.connections'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-inner nopadding">


        <div class="slideanim3 fullheight" data-ng-class="{panel2: item.showPage==2, panel3: item.showPage==3}">

            <div class="slideanim-item fullheight">

                <div class="ipe-wysiwyg-fullheight">
                    <p data-in-place-edit
                       data-ipe-key="'description'"
                       data-ipe-value="item.item.description"
                       data-ipe-type="'wysiwyg'"
                       data-api-name="'item'"
                       data-api-id="item.item.id"
                       data-ipe-name="'global.description'|translate"></p>
                </div>

            </div>

            <div class="slideanim-item fullheight scroll-y">
                <div class="detail-block">
                    <div class="row detail-block">
                        <div class="col-sm-2 col-md-1"><div class="sidelabel"><i class="md md-attach-money"></i></div></div>
                        <div class="col-sm-10 col-md-11">
                            <div class="listinfo-row">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <span data-in-place-edit
                                              data-ipe-key="'hourlyrates'"
                                              data-ipe-value="item.item.hourlyrates"
                                              data-api-name="'item'"
                                              data-api-id="item.item.id"
                                              data-ipe-name="'items.hourlyRates'|translate"></span> {{'items.hours'|translate}} à <span data-in-place-edit
                                                                                                                                        data-ipe-type="'price'"
                                                                                                                                        data-ipe-value="item.item.hourlyrate"
                                                                                                                                        data-ipe-key="'hourlyrate'"
                                                                                                                                        data-api-name="'item'"
                                                                                                                                        data-api-id="item.item.id"
                                                                                                                                        data-ipe-name="'items.hourlyRate'|translate"
                                                                                                                                        data-output-value="item.item.hourlyrate|price"></span>
                                        <br />
                                        <span class="less-important">{{'items.hourlyRate'|translate}}</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <a class="listinfo-action listinfo-action-icon listinfo-action-info"
                                           data-ng-if="item.item.userate == 1"
                                           title="{{'items.currentUseRate' | translate}}">
                                            <i class="md md-star"></i>
                                        </a>
                                        <a class="listinfo-action listinfo-action-icon"
                                           data-ng-if="item.item.userate != 1"
                                           data-ng-click="item.changeUseRate(1)"
                                           title="{{'items.changeUseRate' | translate}}"
                                           data-ng-mouseenter="hoverHourly = true"
                                           data-ng-mouseleave="hoverHourly = false"
                                           data-ng-class="{'listinfo-action-info':hoverHourly}">
                                            <i class="md" data-ng-class="{'md-star info':hoverHourly,'md-star-outline':!hoverHourly}"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="listinfo-row">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <span data-in-place-edit
                                              data-ipe-key="'dailyrates'"
                                              data-ipe-value="item.item.dailyrates"
                                              data-api-name="'item'"
                                              data-api-id="item.item.id"
                                              data-ipe-name="'items.dailyRates'|translate"></span> {{'items.days'|translate}} à <span data-in-place-edit
                                                                                                                                      data-ipe-type="'price'"
                                                                                                                                      data-ipe-value="item.item.dailyrate"
                                                                                                                                      data-ipe-key="'dailyrate'"
                                                                                                                                      data-api-name="'item'"
                                                                                                                                      data-api-id="item.item.id"
                                                                                                                                      data-ipe-name="'items.dailyRate'|translate"
                                                                                                                                      data-output-value="item.item.dailyrate|price"></span>
                                        <br />
                                        <span class="less-important">{{'items.dailyRate'|translate}}</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <a class="listinfo-action listinfo-action-icon listinfo-action-info"
                                           data-ng-if="item.item.userate == 2"
                                           title="{{'items.currentUseRate' | translate}}">
                                            <i class="md md-star"></i>
                                        </a>
                                        <a class="listinfo-action listinfo-action-icon"
                                           data-ng-if="item.item.userate != 2"
                                           data-ng-click="item.changeUseRate(2)"
                                           title="{{'items.changeUseRate' | translate}}"
                                           data-ng-mouseenter="hoverDaily = true"
                                           data-ng-mouseleave="hoverDaily = false"
                                           data-ng-class="{'listinfo-action-info':hoverDaily}">
                                            <i class="md" data-ng-class="{'md-star info':hoverDaily,'md-star-outline':!hoverDaily}"></i>
                                        </a>
                                    </div>
                                </div>


                            </div>
                            <div class="listinfo-row">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <span data-in-place-edit
                                              data-ipe-type="'price'"
                                              data-ipe-value="item.item.fixedrate"
                                              data-ipe-key="'fixedrate'"
                                              data-api-name="'item'"
                                              data-api-id="item.item.id"
                                              data-ipe-name="'items.fixedRate'|translate"
                                              data-output-value="item.item.fixedrate|price"></span>
                                        <br />
                                        <span class="less-important">{{'items.fixedRate'|translate}}</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <a class="listinfo-action listinfo-action-icon listinfo-action-info"
                                           data-ng-if="item.item.userate == 0"
                                           title="{{'items.currentUseRate' | translate}}">
                                            <i class="md md-star"></i>
                                        </a>
                                        <a class="listinfo-action listinfo-action-icon"
                                           data-ng-if="item.item.userate != 0"
                                           data-ng-click="item.changeUseRate(0)"
                                           title="{{'items.changeUseRate' | translate}}"
                                           data-ng-mouseenter="hoverFixed = true"
                                           data-ng-mouseleave="hoverFixed = false"
                                           data-ng-class="{'listinfo-action-info':hoverFixed}">
                                            <i class="md" data-ng-class="{'md-star info':hoverFixed,'md-star-outline':!hoverFixed}"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="detail-block">
                    <div class="row">
                        <div class="col-sm-2 col-md-1"><div class="sidelabel"><i class="md md-access-alarm"></i></div></div>
                        <div class="col-sm-10 col-md-11">
                            <div data-ng-repeat="time in item.time.times" class="listinfo-row">
                                <div data-ng-if="time.end">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            {{time.username}} {{'items.workedOn'|translate}}<br />
                                            <span class="less-important"><span data-in-place-edit
                                                                               data-ipe-key="'start'"
                                                                               data-ipe-value="time.start"
                                                                               data-ipe-type="'datetime'"
                                                                               data-api-name="'time'"
                                                                               data-api-id="time.id"
                                                                               data-ipe-name="'time.start'|translate"
                                                                               data-ipe-deletable="false"
                                                                               data-ipe-max-datetime="{{time.end}}"
                                                                               data-ipe-callback="item.getTime()"
                                                                               data-output-value="time.start|amaDate:'dd.MM.yyyy HH:mm'"></span> - <span data-in-place-edit
                                                                                                                                                         data-ipe-key="'end'"
                                                                                                                                                         data-ipe-value="time.end"
                                                                                                                                                         data-ipe-type="'datetime'"
                                                                                                                                                         data-ipe-min-datetime="{{time.start}}"
                                                                                                                                                         data-api-name="'time'"
                                                                                                                                                         data-api-id="time.id"
                                                                                                                                                         data-ipe-name="'time.end'|translate"
                                                                                                                                                         data-ipe-deletable="false"
                                                                                                                                                         data-ipe-callback="item.getTime()"
                                                                                                                                                         data-output-value="time.end|amaDate:'dd.MM.yyyy HH:mm'"></span></span>
                                        </div>
                                        <div class="col-xs-4">
                                            <a class="listinfo-action listinfo-action-danger listinfo-action-icon" data-ng-click="item.deleteTime(time.id)"><i class="md md-delete"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div data-ng-if="!time.end">
                                    <div class="row">
                                        <div class="col-xs-8">{{time.username}} {{'items.workingOn'|translate}}<br />
                                            <span class="less-important">{{'items.workingOnSince'|translate}} {{time.start|amaDate:'dd.MM.yyyy HH:mm'}}</span>
                                        </div>
                                        <div class="col-xs-4">
                                            <a class="listinfo-action listinfo-action-warning listinfo-action-icon" data-ng-if="!time.end" data-ng-click="item.stopTime(time.id)"><i class="md md-stop"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="listinfo-row">
                                <div class="row">
                                    <div class="col-xs-8">
                                        {{'items.newTime'|translate}}
                                    </div>
                                    <div class="col-xs-4">
                                        <a class="listinfo-action listinfo-action-success listinfo-action-icon" data-ng-click="item.startTime()"><i class="md md-play-arrow"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listinfo-row">
                                {{'items.totalTime'|translate}}: {{item.time.totaltime||0}} {{'items.hours'|translate}} <a data-ng-if="item.time.totaltime" data-ng-click="item.setTotaltimeAsTime()" class="btn btn-link btn-icon-round btn-success" title="{{'items.totaltimeAsHourlyRates'|translate}}"><i class="md md-check"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slideanim-item fullheight scroll-y">


                <div class="row">
                    <div class="col-sm-6">
                        <h3>{{'items.alsoIn'|translate}}</h3>
                        <ul data-ng-if="item.isConnected">
                            <li data-ng-if="item.connections.offer.id">
                                <a data-ui-sref="app.offerDetail({id:item.connections.offer.id})">{{item.connections.offer.name}}</a>
                            </li>
                            <li data-ng-if="item.connections.contract.id">
                                <a data-ui-sref="app.contractDetail({id:item.connections.contract.id})">{{item.connections.contract.name}}</a>
                            </li>
                            <li data-ng-if="item.connections.todo.id">
                                <a data-ui-sref="app.todoDetail({id:item.connections.todo.id})">{{item.connections.todo.name}}</a>
                            </li>
                            <li data-ng-if="item.connections.acceptance.id">
                                <a data-ui-sref="app.contractDetail({id:item.connections.acceptance.id})">{{item.connections.acceptance.name}}</a>
                            </li>
                            <li data-ng-if="item.connections.invoice.id">
                                <a data-ui-sref="app.invoiceDetail({id:item.connections.invoice.id})">{{item.connections.invoice.name}}</a>
                            </li>
                        </ul>
                        <p data-ng-if="!item.isConnected">{{'items.alsoInNone'|translate}}</p>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-block btn-success" data-ng-click="item.moveItem()"><i class="md md-lg md-forward"></i> {{'items.moveItem'|translate}}</button>
                        <button class="btn btn-block btn-danger" data-ng-click="item.deleteItem()"><i class="md md-lg md-delete"></i> {{'items.deleteItem'|translate}}</button>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>