<div class="detail-view fullheight" data-ng-controller="ItemDetailCtrl as item">
    <div class="btn-toolbar">

        <div class="row">
            <div class="col-sm-6">

                <h3 data-in-place-edit
                    data-ipe-key="'name'"
                    data-ipe-value="item.item.name"
                    data-api-name="'item'"
                    data-api-id="item.item.id"
                    data-ipe-name="'items.name'|translate"></h3>

            </div>
            <div class="col-sm-6">

                <div class="btn-group btn-group-sm pull-right" data-ng-init="item.showPage = 1">
                    <button class="btn btn-link" data-ng-click="item.showPage = 1" data-ng-class="{active: item.showPage==1}"><i class="md md-lg md-comment"></i> {{'global.description' | translate}}</button>
                    <button class="btn btn-link" data-ng-click="item.showPage = 2" data-ng-class="{active: item.showPage==2}"><i class="md md-lg md-payment"></i> {{'items.pricing' | translate}}</button>
                    <button class="btn btn-link" data-ng-click="item.showPage = 3" data-ng-class="{active: item.showPage==3}"><i class="md md-lg md-link"></i> {{'items.connections'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-inner nopadding">


        <div class="slideanim3 fullheight" data-ng-class="{panel2: item.showPage==2, panel3: item.showPage==3}">

            <div class="slideanim-item fullheight">

                <div class="ipe-wysiwyg-fullheight">
                    <p data-in-place-edit
                       data-ipe-key="'description'"
                       data-ipe-value="item.item.description"
                       data-ipe-type="'wysiwyg'"
                       data-api-name="'item'"
                       data-api-id="item.item.id"
                       data-ipe-name="'global.description'|translate"></p>
                </div>

            </div>

            <div class="slideanim-item fullheight scroll-y">

                <h3>{{'items.expectedRate'|translate}}</h3>
                <div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="1" data-ng-model="item.item.userate" data-ng-change="item.changeUseRate()">
                            {{'items.hourlyRate'|translate}}:</label><span data-in-place-edit
                                                                    data-ipe-key="'hourlyrates'"
                                                                    data-ipe-value="item.item.hourlyrates"
                                                                    data-api-name="'item'"
                                                                    data-ipe-type="'text'"
                                                                    data-api-id="item.item.id"
                                                                    data-ipe-name="'items.hourlyRates'|translate"></span> {{'items.hours'|translate}} à <span data-in-place-edit
                                                                                                                                                              data-ipe-value="item.item.hourlyrate"
                                                                                                                                                              data-ipe-key="'hourlyrate'"
                                                                                                                                                              data-api-name="'item'"
                                                                                                                                                              data-ipe-type="'price'"
                                                                                                                                                              data-api-id="item.item.id"
                                                                                                                                                              data-ipe-name="'items.hourlyRate'|translate"></span>

                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="2" data-ng-model="item.item.userate" data-ng-change="item.changeUseRate()">
                            {{'items.dailyRate'|translate}}:</label> <span data-in-place-edit
                                                                   data-ipe-key="'dailyrates'"
                                                                   data-ipe-type="'text'"
                                                                   data-ipe-value="item.item.dailyrates"
                                                                   data-api-name="'item'"
                                                                   data-api-id="item.item.id"
                                                                   data-ipe-name="'items.dailyRates'|translate"></span> {{'items.days'|translate}} à <span data-in-place-edit
                                                                                                                                                           data-ipe-value="item.item.dailyrate"
                                                                                                                                                           data-ipe-key="'dailyrate'"
                                                                                                                                                           data-api-name="'item'"
                                                                                                                                                           data-ipe-type="'price'"
                                                                                                                                                           data-api-id="item.item.id"
                                                                                                                                                           data-ipe-name="'items.dailyRate'|translate"></span>

                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="0" data-ng-model="item.item.userate" data-ng-change="item.changeUseRate()">
                            {{'items.fixedRate'|translate}}:</label> <span data-in-place-edit
                                                                   data-ipe-value="item.item.fixedrate"
                                                                   data-ipe-key="'fixedrate'"
                                                                   data-api-name="'item'"
                                                                   data-ipe-type="'price'"
                                                                   data-api-id="item.item.id"
                                                                   data-ipe-name="'items.fixedRate'|translate"></span>
                    </div>
                </div>

            </div>

            <div class="slideanim-item fullheight scroll-y">

                <button class="btn btn-link" data-ng-click="item.deleteItem()"><i class="md md-lg md-delete"></i></button>

            </div>



        </div>
    </div>
</div>