<div class="row scroll-y" data-ng-controller="AcceptanceCreationCtrl as create">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
        <h2>{{'acceptance.newAcceptanceFor'|translate}} {{create.projectName}}</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <form data-ng-submit="create.createAcceptance()">
                    <div data-material-input
                         data-ng-model="create.newAcceptance.name"
                         data-input-id="name"
                         data-input-label="{{'global.name'|translate}}"></div>
                    <div data-material-input
                         data-ng-model="create.newAcceptance.description"
                         data-input-id="description"
                         data-input-type="wysiwyg"
                         data-input-label="{{'global.description'|translate}}"></div>
                    <div data-material-input
                         data-ng-model="create.newAcceptance.refnumber"
                         data-input-id="refnumber"
                         data-input-label="{{'acceptances.refNumber'|translate}}"></div>
                    <div class="pull-right">
                        <button class="btn btn-danger" data-ng-click="create.cancel()">{{'global.cancel'|translate}}</button>
                        <button class="btn btn-success" type="submit">{{'acceptance.createAcceptance'|translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>