<div data-ng-controller="ClientCategoriesCtrl as cat">
    <h2>Client categories</h2>
    <table class="table table-striped">
        <thead>
        <tr><th>Name</th><th>Description</th></tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="category in cat.allCategories">
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td><button data-ng-click="cat.deleteCategory(category.id)">Delete this category</button></td>
        </tr>
        <tr>
            <td><input class="form-control" id="categoryname" data-ng-model="cat.newCategory.name"></td>
            <td><textarea class="form-control" id="categorydescription" data-ng-model="cat.newCategory.description"></textarea></td>
            <td><button data-ng-click="cat.addCategory()">Create new category</button></td>
        </tr>
        </tbody>
    </table>
</div>