<div data-ng-controller="ClientsCtrl as clients">
    <h1>Clients</h1>
    <input data-ng-model="clients.filterText">
    <table class="table table-striped">
        <thead>
        <tr><th>Name</th><th>City</th><th>refNumber</th><th>Kategorien</th></tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="client in clients.clientList | filter:clients.filterText">
            <td>{{client.companyname}}</td>
            <td>{{client.city}}</td>
            <td>{{client.refnumber}}</td>
            <td><ul><li data-ng-repeat="cat in client.categories">{{cat}}</li></ul></td>
            <td><button data-ng-click="clients.deleteClient(client.id)">Delete this client</button></td>
        </tr>
        <tr>
            <td><input data-ng-model="clients.newClient.companyname"></td>
            <td><input data-ng-model="clients.newClient.city"></td>
            <td><input data-ng-model="clients.newClient.refnumber"></td>
            <td><select multiple data-ng-model="clients.newClientCategories">
                <option data-ng-repeat="cat in clients.allCategories" data-ng-value="cat.id">{{cat.name}}</option>
            </select></td>
            <td><button data-ng-click="clients.addClient()">Create new client</button></td>
        </tr>
        </tbody>
    </table>
    <h2>Create new client category</h2>
    <form class="form-inline">
        <div class="form-group">
        <label for="categoryname">Category name</label>
        <input class="form-control" id="categoryname" data-ng-model="clients.newCategory.name">
            </div>
        <div class="form-group">
        <label for="categorydescription">Category Description</label>
        <textarea class="form-control" id="categorydescription" data-ng-model="clients.newCategory.description"></textarea>
        </div>
        <button data-ng-click="clients.addCategory()">Create new category</button>
    </form>
</div>