<div data-ng-controller="ClientCreationCtrl as create">
    <form>
        <div data-material-input
             data-input-label="{{'clients.companyName'|translate}}"
             data-input-type="text"
             data-input-id="companyname"
             data-ng-model="create.newClient.companyname"></div>
        <div data-material-input
             data-input-label="{{'clients.refNumber'|translate}}"
             data-input-type="text"
             data-input-id="refnumber"
             data-ng-model="create.newClient.refnumber"
             data-input-required="true"></div>
        <div class="form-group">
            <label for="contact_gender">{{'clients.contactGender'|translate}}</label>
            <select class="form-control" id="contact_gender" data-ng-model="create.newClient.contact_gender">
                <option value="0">{{'clients.contactGender.male'|translate}}</option>
                <option value="1">{{'clients.contactGender.female'|translate}}</option>
            </select>
        </div>
        <div data-material-input
             data-input-label="{{'clients.firstName'|translate}}"
             data-input-type="text"
             data-input-id="contact_firstname"
             data-ng-model="create.newClient.contact_firstname"></div>
        <div data-material-input
             data-input-label="{{'clients.lastName'|translate}}"
             data-input-type="text"
             data-input-id="contact_lastname"
             data-ng-model="create.newClient.contact_lastname"></div>
        <div data-material-input
             data-input-label="{{'clients.streetNo'|translate}}"
             data-input-type="text"
             data-input-id="street_no"
             data-ng-model="create.newClient.street_no"></div>
        <div data-material-input
             data-input-label="{{'clients.additional'|translate}}"
             data-input-type="text"
             data-input-id="additional"
             data-ng-model="create.newClient.additional"></div>
        <div data-material-input
             data-input-label="{{'clients.zip'|translate}}"
             data-input-type="text"
             data-input-id="zip"
             data-ng-model="create.newClient.zip"></div>
        <div data-material-input
             data-input-label="{{'clients.city'|translate}}"
             data-input-type="text"
             data-input-id="city"
             data-ng-model="create.newClient.city"></div>
        <div data-material-input
             data-input-label="{{'clients.country'|translate}}"
             data-input-type="text"
             data-input-id="country"
             data-ng-model="create.newClient.country"></div>
        <div class="form-group">
            <label for="comment">{{'clients.comment'|translate}}</label>
            <textarea class="form-control" id="comment" placeholder="{{'clients.comment'|translate}}" data-ng-model="create.newClient.comment"></textarea>
        </div>

        <div class="form-group">
            <label for="categories">{{'clients.categories'|translate}}</label>
            <select multiple class="form-control" id="categories" data-ng-model="create.newClientCategories">
                <option data-ng-repeat="cat in create.allCategories" value="{{cat.id}}">{{cat.name}}</option>
            </select>
        </div>

        <button type="submit" data-ng-click="create.addClient()" class="btn btn-success">{{'clients.addClient'|translate}}</button>

    </form>
</div>