<div class="dashboard fullheight">
    <div class="row fullheight">
        <div class="col-sm-3 col-md-2 fullheight">
            <div class="panel panel-default fullheight">
                <div class="panel-body">
                    <ul>
                        <li>
                            <a data-ui-sref="app.projects">Projects</a>
                        </li>
                        <li>
                            <a data-ui-sref="app.clients">Clients</a>
                        </li>
                        <li>
                            <a data-ui-sref="app.itemPresets">Item Presets</a>
                        </li>
                    </ul>
                    <h1>Schnellzugriffe hierher</h1>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-8 fullheight">
            <div class="panel panel-default fullheight scroll-y">
                <div class="panel-body">
                    <h1>gekachelte aktuelle Projekte hier</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-2 fullheight">
            <div class="panel panel-default halfheight scroll-y">
                <div class="panel-body">
                    <h1>Stream o.ä</h1>
                </div>
            </div>
            <div class="panel panel-default halfheight scroll-y">
                <div class="panel-body">
                    <h1>Statistiken</h1>
                    <p>anzahl offene Projekte, zu erwartendes Einkommen, etc</p>
                </div>
            </div>
        </div>
    </div>
</div>

