<div data-ng-controller="DragDropCtrl as dd">
    <form data-ng-submit="dd.addElement(dd.element.text, dd.element.type)">
        <input type="text" data-ng-model="dd.element.text">
        <select data-ng-model="dd.element.type">
            <option value="div">Block</option>
            <option value="span">Inline</option>
        </select>
        <button type="submit">OK</button>
    </form>
    <div class="draggable-items" data-ng-repeat="item in dd.draggableElements">
        <div draggable="true" class="draggable-item">{{item.text}}</div>
    </div>
    <div droppable class="drop-area" style="width: 200px; height:200px;background: #333;"></div>
</div>