<div class="row scroll-y" data-ng-controller="InvoiceCreationCtrl as create">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
        <h2>!!Create invoice for project {{create.projectName}}</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <form data-ng-submit="create.createInvoice()">
                    <div data-material-input
                         data-ng-model="create.newInvoice.name"
                         data-input-id="name"
                         data-input-label="{{'global.name'|translate}}"></div>
                    <div data-material-input
                         data-ng-model="create.newInvoice.description"
                         data-input-id="description"
                         data-input-type="wysiwyg"
                         data-input-label="{{'global.description'|translate}}"></div>
                    <div data-material-input
                         data-ng-model="create.newInvoice.refnumber"
                         data-input-id="refnumber"
                         data-input-label="{{'invoices.refNumber'|translate}}"></div>
                    <button class="btn btn-success" type="submit">{{'invoices.createInvoice'|translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>