<div data-ng-controller="ItemPresetCreationCtrl as create">
    <form data-ng-submit="create.addPreset()">
        <div data-material-input
             data-input-label="{{'items.name'|translate}}"
             data-input-id="name"
             data-ng-model="create.newPreset.name"></div>
        <div data-material-input
             data-input-label="{{'items.description'|translate}}"
             data-input-id="description"
             data-input-type="wysiwyg"
             data-ng-model="create.newPreset.description"></div>
        <div data-material-input
             data-input-label="{{'items.hourlyRates'|translate}}"
             data-input-id="hourlyrates"
             data-ng-model="create.newPreset.hourlyrates"></div>
        <div data-material-input
             data-input-label="{{'items.hourlyRate'|translate}}"
             data-input-id="hourlyrate"
             data-ng-model="create.newPreset.hourlyrate"></div>
        <div data-material-input
             data-input-label="{{'items.dailyRates'|translate}}"
             data-input-id="dailyrates"
             data-ng-model="create.newPreset.dailyrates"></div>
        <div data-material-input
             data-input-label="{{'items.dailyRate'|translate}}"
             data-input-id="dailyrate"
             data-input-type="price"
             data-ng-model="create.newPreset.dailyrate"></div>
        <div data-material-input
             data-input-label="{{'items.fixedRate'|translate}}"
             data-input-id="fixedrate"
             data-ng-model="create.newPreset.fixedrate"></div>
        <div data-material-input
             data-input-label="{{'items.useRate'|translate}}"
             data-input-id="userate"
             data-ng-model="create.newPreset.userate"
             data-input-type="select"
             data-input-select-options="create.useRateOptions" data-input-select-option-name="name" data-input-select-option-value="value"></div>
        <button class="btn btn-success" type="submit">!! add preset</button>
    </form>
</div>