<form data-ng-controller="AuthCtrl as auth" data-ng-submit="auth.submit(auth.email, password)">
    <p>{{auth.message}}</p>
    <div data-material-input
         data-input-label="{{'login.email'|translate}}"
         data-input-type="email"
         data-input-id="email"
         data-ng-model="auth.email"
         data-input-required="true"></div>
    <div data-material-input
         data-input-label="{{'login.password'|translate}}"
         data-input-type="password"
         data-input-id="password"
         data-ng-model="password"
         data-input-required="true"></div>
    <button class="btn btn-success btn-lg" type="submit">{{'login.login'|translate}}</button>
</form>