<div class="row detail" data-ng-controller="OfferDetailCtrl as offer">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1><span data-in-place-edit
                          data-api-id="offer.offer.id"
                          data-api-name="'offer'"
                          data-ipe-key="'name'"
                          data-ipe-value="offer.offer.name"
                          data-ipe-name="'offers.name'|translate"
                          data-ipe-deletable="false"
                        ></span><small><span data-in-place-edit
                                             data-ipe-key="'refnumber'"
                                             data-ipe-value="offer.offer.refnumber"
                                             data-ipe-deletable="false"
                                             data-api-id="offer.offer.id"
                                             data-api-name="'offer'"
                                             data-ipe-name="'offers.refnumber'|translate"></span></small></h1>
                <p>!!State!!: {{offer.offer.state|amaStates:'offer'}}</p>
                <p><a data-ui-sref="app.projects({id:{{offer.offer.project.id}}})">{{offer.offer.project.name}}</a> - {{offer.offer.date |date:offer.dateFormat}}</p>
                <p data-in-place-edit
                   data-api-id="offer.offer.id"
                   data-api-name="'offer'"
                   data-ipe-key="'description'"
                   data-ipe-value="offer.offer.description"
                   data-ipe-name="'offers.description'|translate"
                   data-ipe-type="'textarea'"></p>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body" data-client-box="offer.offer.project.client"></div>
        </div>
    </div>
    <div class="col-sm-8">
        <div data-master-detail
             data-master-list="offer.offer.items"
             data-master-tpl="'templates/pages/items/master.html'"
             data-detail-tpl="'templates/pages/items/detail.html'"
             data-detail=""
             data-master-loaded="offer.loaded"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <p>{{'items.totalPrice'|translate}}: {{offer.offer.total}}</p>
                        <p><a data-ng-href="api/?action=protectedpdf&path={{offer.offer.path}}" target="_blank">!! Link to file !!</a></p>
                        <p><button class="btn btn-success" data-ng-click="offer.generatePDF()">!! Generate PDF !!</button></p>
                        <p><a class="btn btn-info" data-ng-click="offer.openPdfPreview()" data-ng-href="api/?action=pdfgen&for=offer&forid={{offer.offer.id}}">!! View PDF Preview !!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>