<div class="projectdetail" data-ng-controller="ProjectDetailCtrl as project">
    <div class="row fullheight">


        <div class="col-sm-6 col-md-8 fullheight">
            <div class="panel panel-default fullheight">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-8">
                            <h3 style="display: inline-block;">
                                <span data-in-place-edit
                                      data-api-id="project.project.id"
                                      data-api-name="'project'"
                                      data-ipe-key="'name'"
                                      data-ipe-value="project.project.name"
                                      data-ipe-name="'global.name'|translate"
                                      data-ipe-deletable="false"
                                        ></span>
                            </h3>
                        </div>
                        <div class="col-xs-4">
                            <div class="pull-right">
                                <button class="btn btn-link" data-ng-click="project.deleteProject()"><i class="md md-lg md-delete"></i>{{'projects.actions.delete' | translate}}</i></button>
                            </div>
                            <div class="pull-right">
                                <i class="state-icon state-icon-{{project.project.state}}"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body scroll-y">

                    <p data-in-place-edit
                       data-api-id="project.project.id"
                       data-api-name="'project'"
                       data-ipe-key="'description'"
                       data-ipe-value="project.project.description"
                       data-ipe-name="'global.description'|translate"
                       data-ipe-type="'textarea'"
                            ></p>


                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="detail-block">
                                <h3>{{'projects.offers'|translate}}
                                    <a title="{{'projects.newOffer'|translate}}" data-ui-sref="app.offerCreation({project:{ id: project.project.id, name: project.project.name}, referrer:'app.projectDetail', referrerParams: {id:project.project.id}})">
                                        <i class="md-add-circle-outline"></i>
                                    </a></h3>
                                <div class="listinfo-row listinfo-link" data-ng-repeat="offer in project.project.offers" data-ui-sref="app.offerDetail({id:{{offer.id}}})">
                                    {{offer.name}}<br />
                                    <span class="secondary">{{offer.refnumber}}</span><span class="less-important"> – {{offer.state|amaStates:'offer'|translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="detail-block">
                                <h3>{{'projects.todos'|translate}}
                                    <a title="{{'projects.newTodo'|translate}}" data-ui-sref="app.todoCreation({project:{ id: project.project.id, name: project.project.name}, referrer:'app.projectDetail', referrerParams: {id:project.project.id}})">
                                        <i class="md-add-circle-outline"></i>
                                    </a></h3>
                                <div class="listinfo-row listinfo-link"
                                     data-ng-repeat="todo in project.project.todos" data-ui-sref="app.todoDetail({id:{{todo.id}}})">
                                    {{todo.name}}<br />
                                    <span class="secondary">{{todo.due|amaDate:'MM.dd.yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="detail-block">
                                <h3>{{'projects.contracts'|translate}}
                                    <a title="{{'projects.newContract'|translate}}" data-ui-sref="app.contractCreation({project:{ id: project.project.id, name: project.project.name}, referrer:'app.projectDetail', referrerParams: {id:project.project.id}})">
                                        <i class="md-add-circle-outline"></i>
                                    </a></h3>
                                <div class="listinfo-row listinfo-link"
                                     data-ng-repeat="contract in project.contracts" data-ng-click="project.goToContract(contract)">
                                    {{contract.name}}<br />
                                    <span class="secondary">{{contract.refnumber}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="detail-block">
                                <h3>{{'projects.acceptances'|translate}}
                                    <a title="{{'projects.newAcceptance'|translate}}" data-ui-sref="app.acceptanceCreation({project:{ id: project.project.id, name: project.project.name}, referrer:'app.projectDetail', referrerParams: {id:project.project.id}})">
                                        <i class="md-add-circle-outline"></i>
                                    </a></h3>
                                <div class="listinfo-row listinfo-link" data-ng-repeat="acceptance in project.project.acceptances" data-ui-sref="app.acceptanceDetail({id:{{acceptance.id}}})">
                                    {{acceptance.name}}<br />
                                    <span class="secondary">{{acceptance.refnumber}}</span><span class="less-important"> – {{acceptance.state|amaStates:'acceptance'|translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="detail-block">
                                <h3>{{'projects.invoices'|translate}}
                                    <a title="{{'projects.newInvoice'|translate}}" data-ui-sref="app.invoiceCreation({project:{ id: project.project.id, name: project.project.name}, referrer:'app.projectDetail', referrerParams: {id:project.project.id}})">
                                        <i class="md-add-circle-outline"></i>
                                    </a></h3>
                                <div class="listinfo-row listinfo-link-inside"
                                     data-ng-repeat="invoice in project.project.invoices">
                                    <div class="listinfo-link" data-ui-sref="app.invoiceDetail({id:{{invoice.id}}})">
                                        {{invoice.name}}<br />
                                        <span class="secondary">{{invoice.refnumber}}</span><span class="less-important"> – {{invoice.state|amaStates:'invoice'|translate}}</span>
                                    </div>
                                    <div class="listinfo-row listinfo-link"
                                         data-ng-repeat="reminder in invoice.reminders" data-ui-sref="app.reminderDetail({id:{{reminder.id}}})">
                                        {{reminder.name}}<br />
                                        <span class="secondary">{{reminder.refnumber}}</span><span class="less-important"> – {{reminder.state|amaStates:'reminder'|translate}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-sm-6 col-md-4 fullheight">

            <div class="panel panel-default fixedheight-360 shadow-1">
                <div class="panel-heading">
                    <h3>{{'global.estimatedIncome' | translate}}</h3>
                </div>
                <div class="panel-body scroll-y">
                    <div data-payment-stats="project.project.stats"></div>
                </div>
            </div>

            <div class="panel panel-default under-fixedheight-360 shadow-0 ">
                <div class="panel-heading">
                    <h3>{{'clients.client'|translate}}</h3>
                </div>
                <div class="panel-body scroll-y">

                    <div data-client-box="project.project.client"></div>

                </div>
            </div>

        </div>
    </div>
</div>