<div class="fullheight settings" data-ng-controller="SettingsCtrl as settings">

    <div class="fullheight col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
        <div class="fullheight panel panel-default" role="tabpanel">


            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a data-target="#tab-apps" aria-controls="tab-apps" role="tab" data-toggle="tab">{{'app.apps'|translate}}</a>
                </li>
                <li role="presentation">
                    <a data-target="#tab-user" aria-controls="tab-user" role="tab" data-toggle="tab">{{'user.user'|translate}}</a>
                </li>
                <li role="presentation" data-ng-repeat="key in settings.settingkeys" data-ng-init="settinglist = settings.settings[key]">
                    <a data-target="#tab-{{$index}}" aria-controls="tab-{{$index}}" role="tab" data-toggle="tab">{{key|translate}}</a>
                </li>
            </ul>

            <div class="panel-under-tabs scroll-y panel-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab-apps">
                        <h3>{{'app.apps'|translate}}</h3>

                        <div class="tile">
                            <div class="tile-inner">
                                <p data-ng-bind-html="settings.apps.message|translate"></p>
                                <div class="row">
                                    <div class="col-sm-4 col-sm-offset-8">
                                        <div class="ffapp" data-ng-if="settings.apps.displaylink == 'firefoxapp'">
                                            <a class="btn btn-block btn-lg btn-success" data-ng-click="settings.installffapp($event)">
                                                <i class="md md-lg md-play-install"></i> {{'app.install'|translate}}
                                            </a>
                                        </div>
                                        <div class="chromeapp" data-ng-if="settings.apps.displaylink == 'chromeapp'">
                                            <a class="btn btn-block btn-lg btn-success" href="{{settings.apps.chromeapp}}" download="amanu.crx" target="_self">
                                                <i class="md md-lg md-play-download"></i> {{'app.download'|translate}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab-user">
                        User
                    </div>
                    <div data-ng-repeat="key in settings.settingkeys" data-ng-init="settinglist = settings.settings[key]"
                         role="tabpanel" class="tab-pane" id="tab-{{$index}}">

                        <div class="row" data-ng-repeat="settingkey in settings.objectKeys(settinglist)" data-ng-init="settingvalue = settinglist[settingkey]">

                            <div class="col-xs-12" data-ng-if="settingvalue == '%spacer%'">
                                <hr/>
                            </div>

                            <div data-ng-if="settings.isSettingSet(settingvalue)">
                                <div class="col-xs-12">
                                    <h3>{{'settings.sub.'+settingkey|translate}}</h3>
                                    <div class="row" data-ng-repeat="settingkey3 in settings.objectKeys(settingvalue)" data-ng-init="settingvalue3 = settingvalue[settingkey3]">
                                        <div class="col-sm-4">
                                            <p>{{'config.'+settingkey+'.'+settingkey3|translate}}</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <div data-in-place-edit
                                                 data-ipe-value="settingvalue3"
                                                 data-ipe-key="settingkey+'.'+settingkey3"
                                                 data-ipe-name="'config.'+settingkey+'.'+settingkey3|translate"
                                                 data-ipe-deletable="false"
                                                 data-ipe-type="settings.settingtypes[settingkey+'.'+settingkey3]"
                                                 data-api-name="'settings'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-ng-if="settings.isSetting(settingvalue)">
                                <div class="col-sm-4">
                                    <p>{{'config.'+settingkey|translate}}</p>
                                </div>
                                <div class="col-sm-8">
                                    <div data-in-place-edit
                                         data-ipe-value="settingvalue"
                                         data-ipe-key="settingkey"
                                         data-ipe-name="'config.'+settingkey|translate"
                                         data-ipe-deletable="false"
                                         data-ipe-type="settings.settingtypes[settingkey]"
                                         data-api-name="'settings'"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>