<div class="row fullheight" data-ng-controller="TodoCreationCtrl as create">
    <div class="fullheight col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
        <div class="max-fullheight scroll-y panel panel-default">
            <div class="panel-heading">
                <h3>{{'todo.createForProject'|translate}} {{create.projectName}}</h3>
            </div>
            <div class="panel-body">
                <form data-ng-submit="create.createTodo()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div data-material-input
                                 data-ng-model="create.newTodo.name"
                                 data-input-id="newTodoName"
                                 data-input-required="true"
                                 data-input-label="{{'global.name'|translate}}"></div>
                        </div>
                        <div class="col-sm-6 datepicker-fixed">
                            <div data-material-input data-input-type="date"
                                 data-ng-model="create.newTodo.due"
                                 data-input-id="newTodoDueDate"
                                 data-input-label="{{'todo.dueDate'|translate}}"
                                 data-output-value="create.newTodo.due|amaDate:'dd.MM.yyyy'"></div>
                        </div>
                    </div>
                    <div class="pull-right margin-top">
                        <button class="btn btn-danger" data-ng-click="create.cancel()">{{'global.cancel'|translate}}</button>
                        <button class="btn btn-success" type="submit">{{'todo.createTodo'|translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>