<div class="row scroll-y fullheight" data-ng-controller="TodoCreationCtrl as create">
    <div class="fullheight col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
        <div class="fullheight panel panel-default">
            <div class="panel-heading">
                <h2>{{'todo.createForProject'|translate:create}}</h2>
            </div>
            <div class="panel-body">
                <form data-ng-submit="create.createTodo()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div data-material-input
                                 data-ng-model="create.newTodo.name"
                                 data-input-id="newTodoName"
                                 data-input-label="{{'global.name'|translate}}"></div>
                            <div data-material-input data-input-type="date"
                                 data-ng-model="create.newTodo.due"
                                 data-input-id="newTodoDueDate"
                                 data-input-label="{{'todo.dueDate'|translate}}"
                                 data-output-value="create.newTodo.due|amaDate:'MM.dd.yyyy'"></div>
                            <button class="btn btn-success pull-right" type="submit">{{'todo.createTodo'|translate}}</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>