/**
 *
 * Constants for project code name Amanu
 * @namespace js/generated/constants
 * @author Christian Baur
 */

angular.module('ama')
    .constant('constants', {
        BASEURL:'[@baseurl@]',
        SECUREURL: '[@secureurl@]',
        COMPANY:'[@company@]',
        DEBUG: '[@debug@]',
        LANGUAGE: '[@lang@]',
        LANGUAGE_PREFIX: 'lang-',
        LANGUAGE_SUFFIX: '.json'
    });