app.constant('modules', {
    topBar: {
        content: {
            title: 'Amanu'
        },
        'app.clients': {
            title: 'clients.clients'
        },
        'app.projects': 'projects.projects'
    },
    // Navs
    mainNav: {},
    topRightNav: {
        additionalClasses: 'navbar-nav navbar-right'
    }
});