/* page stuff */
@page
{
    margin: 180px 50px 100px 50px;
}
html, body
{
    font-weight: normal;
    font-size: 15px;
    line-height: 1.15;
}
.header
{
    position: fixed;
    left: 0px;
    top: -180px;
    right: 0px;
    height: 150px;
    padding-top: 30px;
}
.footer
{
    position: fixed;
    left: 0px;
    bottom: -100px;
    right: 0px;
    height: 90px;
}
.footer .page
{
    text-align: right;
}
.footer .page:after
{
    content: counter(page, decimal);
}

/* paragraphs */
p
{
    padding: 0;
    margin-bottom: 15px;
}
.small
{
    font-size: 12px;
}
.big
{
    font-size: 18px;
}
.right
{
    text-align: right;
}
.left
{
    text-align: left;
}
.center
{
    text-align: center;
}
.top
{
    vertical-align: top;
}
.heading
{
    font-size: 22px;
}
.less
{
    color: #999999;
}
/* links */
a,
a:link,
a:visited
{
    text-decoration: none;
}
a:hover,
a:active
{
    text-decoration: none;
    background-color: transparent;
}

/* images */
img
{
    width: 100px;
    height: auto;
}


/* tables */

table
{
    width: 100%;
}

/* table table */
table.table
{
    border: 1px solid #999999;
    border-collapse: collapse;
}
table.table th
{
    background-color: #EEEEEE;
    font-weight: normal;
}
table.table td,
table.table th
{
    border: 1px solid #999999;
    padding: 10px;
}

tr.total td
{
    background-color: #EEEEEE;
}
tr.total td .less
{
    color: #000000;
}

/* signature table */
table.signature
{
    page-break-inside: avoid;
    page-break-before: avoid;
}

td.signeline
{
    border-bottom: 1px solid #000000;
    height: 50px;
}

/* legal */
.legal
{
    margin-top: 30px;
    page-break-inside: avoid;
}
hr
{
    background-color: transparent;
    border-bottom: 1px solid #999;
    border-top: none;
}
