<div class="form-group">
    <input  placeholder="{{label}}"
            data-ng-focus="selectDate = true"
            id="{{id}}"
            data-ng-model="model"
            data-ng-required="required || false"
            class="form-control">
    <span class="bar"></span>
    <label for="{{id}}">{{label}}</label>
</div>
<div data-ng-if="buttons" class="{{buttons.wrapperClass}}">
    <button id="save-{{id}}" class="{{buttons.save.class}}" data-ng-click="buttons.save.save()"><i class="{{buttons.save.iconClass}}"></i></button>
    <button id="delete-{{id}}" class="{{buttons.delete.class}}" data-ng-if="buttons.delete.isSet != false" data-ng-click="buttons.delete.delete()"><i class="{{buttons.delete.iconClass}}"></i></button>
    <button id="cancel-{{id}}" class="{{buttons.cancel.class}}" data-ng-click="buttons.cancel.cancel()"><i class="{{buttons.cancel.iconClass}}"></i></button>
</div>
<div class="datepicker-container" tabindex="0" data-ng-blur="selectDate = false">
    <div data-pickadate data-ng-model="model" data-ng-show="selectDate" data-ng-click="processDate()"></div>
</div>