<div class="form-inline">
    <div class="form-group text-right">
        <input  placeholder="{{label}}"
                    step="1"
                    pattern="(\d*)"
                    id="{{id}}-0"
                    data-ng-model="priceModel[0]"
                    data-ng-required="{{required || false}}"
                    data-ng-change="processPrice()"
                    class="form-control"
                    size="5">

            <span class="bar"></span>
            <label for="{{id}}-0">{{label}}</label>
    </div>
    <span class="decimalcomma">,</span>
    <div class="form-group">
        <input  type="text"
                pattern="(\d*)"
                id="{{id}}-1"
                data-ng-model="priceModel[1]"
                data-ng-change="processPrice()"
                data-ng-required="{{required || false}}"
                size="2"
                maxlength="2"
                class="form-control">
        <span class="bar"></span>
        <label for="{{id}}-1">{{label}}</label>
    </div>
</div>
<div data-ng-if="buttons" class="{{buttons.wrapperClass}}">
    <button id="save-{{id}}" class="{{buttons.save.class}}" data-ng-click="savePrice()"><i class="{{buttons.save.iconClass}}"></i></button>
    <button id="delete-{{id}}" class="{{buttons.delete.class}}" data-ng-if="buttons.delete.isSet != false" data-ng-click="buttons.delete.delete()"><i class="{{buttons.delete.iconClass}}"></i></button>
    <button id="cancel-{{id}}" class="{{buttons.cancel.class}}" data-ng-click="buttons.cancel.cancel()"><i class="{{buttons.cancel.iconClass}}"></i></button>
</div>
