<div class="form-group">
    <input  placeholder="{{label}}"
           type="{{inputType}}"
           id="{{id}}"
           data-ng-model="model"
           data-ng-required="{{required || false}}"
           class="form-control">
    <!--data-ng-if="textInput"<textarea data-ng-if="areaInput"
              id="{{id}}"
              data-ng-model="model"
              data-ng-required="{{required || false}}"
              class="form-control"></textarea>
    <select data-ng-if="selectInput" id="{{id}}">
        <option data-ng-repeat="option in options" value="{{option[optionValue]}}">{{option[optionName]}}</option>
    </select>-->
    <span class="bar"></span>
    <label for="{{id}}">{{label}}</label>
</div>