<div class="detail-view fullheight" data-ng-controller="ItemPresetDetailCtrl as preset">
    <div class="btn-toolbar">

        <div class="row">
            <div class="col-sm-8">

                <h3 data-in-place-edit
                    data-ipe-key="'name'"
                    data-ipe-value="preset.preset.name"
                    data-api-name="'item_preset'"
                    data-api-id="preset.preset.name"
                    data-ipe-name="'items.name'|translate"></h3>

            </div>
            <div class="col-sm-4">

                <div class="btn-group btn-group-sm pull-right" data-ng-init="preset.showPage = 1">
                    <button class="btn btn-link" data-ng-click="preset.showPage = 1" data-ng-class="{active: preset.showPage==1}"><i class="md md-lg md-comment"></i> {{'global.description' | translate}}</button>
                    <button class="btn btn-link" data-ng-click="preset.showPage = 2" data-ng-class="{active: preset.showPage==2}"><i class="md md-lg md-payment"></i> {{'items.pricing' | translate}}</button>
                    <button class="btn btn-link" data-ng-click="preset.deletePreset()"><i class="md md-lg md-delete"></i> {{'global.delete'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-inner nopadding">


        <div class="slideanim2 fullheight" data-ng-class="{panel2: preset.showPage==2, panel3: preset.showPage==3}">

            <div class="slideanim-item fullheight">

                <div class="ipe-wysiwyg-fullheight">
                    <p data-in-place-edit
                       data-ipe-key="'description'"
                       data-ipe-value="preset.preset.description"
                       data-ipe-type="'wysiwyg'"
                       data-api-name="'item_preset'"
                       data-api-id="preset.preset.id"
                       data-ipe-name="'items.description'|translate"></p>
                </div>

            </div>

            <div class="slideanim-item fullheight scroll-y">



                <h3>{{'items.expectedRate'|translate}}</h3>
                <div>
                    <p>{{'items.hourlyRate'|translate}}: <span data-in-place-edit
                                                               data-ipe-key="'hourlyrates'"
                                                               data-ipe-value="preset.preset.hourlyrates"
                                                               data-api-name="'item_preset'"
                                                               data-api-id="preset.preset.id"
                                                               data-ipe-name="'items.hourlyRates'|translate"></span> {{'items.hours'|translate}} à <span data-in-place-edit
                                                                                                                                                         data-ipe-value="preset.preset.hourlyrate"
                                                                                                                                                         data-ipe-key="'hourlyrate'"
                                                                                                                                                         data-api-name="'item_preset'"
                                                                                                                                                         data-api-id="preset.preset.id"
                                                                                                                                                         data-ipe-name="'items.hourlyRate'|translate"></span></p>
                    <p>{{'items.dailyRate'|translate}}: <span data-in-place-edit
                                                              data-ipe-key="'dailyrates'"
                                                              data-ipe-value="preset.preset.dailyrates"
                                                              data-api-name="'item_preset'"
                                                              data-api-id="preset.preset.id"
                                                              data-ipe-name="'items.dailyRates'|translate"></span> {{'items.days'|translate}} à <span data-in-place-edit
                                                                                                                                                      data-ipe-value="preset.preset.dailyrate"
                                                                                                                                                      data-ipe-key="'dailyrate'"
                                                                                                                                                      data-api-name="'item_preset'"
                                                                                                                                                      data-api-id="preset.preset.id"
                                                                                                                                                      data-ipe-name="'items.dailyRate'|translate"></span></p>
                    <p>{{'items.fixedRate'|translate}}: <span data-in-place-edit
                                                              data-ipe-value="preset.preset.fixedrate"
                                                              data-ipe-key="'fixedrate'"
                                                              data-api-name="'item_preset'"
                                                              data-api-id="preset.preset.id"
                                                              data-ipe-name="'items.fixedRate'|translate"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>