<div class="detail-view fullheight" data-ng-controller="ItemPresetDetailCtrl as preset">
    <div class="btn-toolbar">

        <div class="row">
            <div class="col-sm-8">

                <h3 data-in-place-edit
                    data-ipe-key="'name'"
                    data-ipe-value="preset.preset.name"
                    data-api-name="'item_preset'"
                    data-api-id="preset.preset.name"
                    data-ipe-name="'items.name'|translate"></h3>

            </div>
            <div class="col-sm-4">

                <div class="btn-group btn-group-sm pull-right">
                    <button class="btn btn-link" data-ng-click="preset.deletePreset()"><i class="md md-lg md-delete"></i> {{'global.delete'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-inner scroll-y">
        <div class="detail-inner-padding">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row detail-block">
                        <div class="col-sm-2 col-md-1"><div class="sidelabel"><i class="md md-attach-money"></i></div></div>
                        <div class="col-sm-10 col-md-11">
                            <div class="listinfo-row">
                                <div class="row">
                                    <div class="col-xs-8">
                                         <span data-in-place-edit
                                               data-ipe-key="'hourlyrates'"
                                               data-ipe-value="preset.preset.hourlyrates"
                                               data-api-name="'item_preset'"
                                               data-api-id="preset.preset.id"
                                               data-ipe-name="'items.hourlyRates'|translate"></span> {{'items.hours'|translate}} à <span data-in-place-edit
                                                                                                                                         data-ipe-type="'price'"
                                                                                                                                         data-ipe-value="preset.preset.hourlyrate"
                                                                                                                                         data-ipe-key="'hourlyrate'"
                                                                                                                                         data-api-name="'item_preset'"
                                                                                                                                         data-api-id="preset.preset.id"
                                                                                                                                         data-ipe-name="'items.hourlyRate'|translate"  data-output-value="preset.preset.hourlyRate|price"></span>
                                        <br />
                                        <span class="less-important">{{'items.hourlyRate'|translate}}</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <a class="listinfo-action listinfo-action-icon listinfo-action-info"
                                           data-ng-if="preset.preset.userate == 1"
                                           title="{{'items.currentUseRate' | translate}}">
                                            <i class="md md-star"></i>
                                        </a>
                                        <a class="listinfo-action listinfo-action-icon"
                                           data-ng-if="preset.preset.userate != 1"
                                           data-ng-click="preset.setUserate(1)"
                                           title="{{'items.changeUseRate' | translate}}"
                                           data-ng-mouseenter="hoverHourly = true"
                                           data-ng-mouseleave="hoverHourly = false"
                                           data-ng-class="{'listinfo-action-info':hoverHourly}">
                                            <i class="md" data-ng-class="{'md-star info':hoverHourly,'md-star-outline':!hoverHourly}"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="listinfo-row">
                                <div class="row">
                                    <div class="col-xs-8">
                                         <span data-in-place-edit
                                               data-ipe-key="'dailyrates'"
                                               data-ipe-value="preset.preset.dailyrates"
                                               data-api-name="'item_preset'"
                                               data-api-id="preset.preset.id"
                                               data-ipe-name="'items.dailyRates'|translate"></span> {{'items.days'|translate}} à <span data-in-place-edit
                                                                                                                                       data-ipe-type="'price'"
                                                                                                                                       data-ipe-value="preset.preset.dailyrate"
                                                                                                                                       data-ipe-key="'dailyrate'"
                                                                                                                                       data-api-name="'item_preset'"
                                                                                                                                       data-api-id="preset.preset.id" data-ipe-name="'items.dailyRate'|translate" data-output-value="preset.preset.hourlyRate|price"></span>
                                        <br />
                                        <span class="less-important">{{'items.dailyRate'|translate}}</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <a class="listinfo-action listinfo-action-icon listinfo-action-info"
                                           data-ng-if="preset.preset.userate == 2"
                                           title="{{'items.currentUseRate' | translate}}">
                                            <i class="md md-star"></i>
                                        </a>
                                        <a class="listinfo-action listinfo-action-icon"
                                           data-ng-if="preset.preset.userate != 2"
                                           data-ng-click="preset.setUserate(2)"
                                           title="{{'items.changeUseRate' | translate}}"
                                           data-ng-mouseenter="hoverDaily = true"
                                           data-ng-mouseleave="hoverDaily = false"
                                           data-ng-class="{'listinfo-action-info':hoverDaily}">
                                            <i class="md" data-ng-class="{'md-star info':hoverDaily,'md-star-outline':!hoverDaily}"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="listinfo-row">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <span data-in-place-edit
                                              data-ipe-type="'price'"
                                              data-ipe-value="preset.preset.fixedrate"
                                              data-ipe-key="'fixedrate'"
                                              data-api-name="'item_preset'"
                                              data-api-id="preset.preset.id"
                                              data-ipe-name="'items.fixedRate'|translate" data-output-value="preset.preset.fixedrate|price"></span>
                                        <br />
                                        <span class="less-important">{{'items.fixedRate'|translate}}</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <a class="listinfo-action listinfo-action-icon listinfo-action-info"
                                           data-ng-if="preset.preset.userate == 0"
                                           title="{{'items.currentUseRate' | translate}}">
                                            <i class="md md-star"></i>
                                        </a>
                                        <a class="listinfo-action listinfo-action-icon"
                                           data-ng-if="preset.preset.userate != 0"
                                           data-ng-click="preset.setUserate(0)"
                                           title="{{'items.changeUseRate' | translate}}"
                                           data-ng-mouseenter="hoverFixed = true"
                                           data-ng-mouseleave="hoverFixed = false"
                                           data-ng-class="{'listinfo-action-info':hoverFixed}">
                                            <i class="md" data-ng-class="{'md-star info':hoverFixed,'md-star-outline':!hoverFixed}"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row detail-block">
                        <div class="col-sm-2 col-md-1">
                            <div class="sidelabel">
                                <i class="md md-comment"></i>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-11">
                            <div class="ipe-wysiwyg">
                                <p data-in-place-edit
                                   data-ipe-key="'description'"
                                   data-ipe-value="preset.preset.description"
                                   data-ipe-type="'wysiwyg'"
                                   data-api-name="'item_preset'"
                                   data-api-id="preset.preset.id"
                                   data-ipe-name="'items.description'|translate"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>