<div class="fullheight">
    <div class="panel panel-default panel-filter">
        <div class="ipe buttons-above-input bai-1">
            <div data-material-input
                 data-ng-model="MasterDetailCtrl.filterText"
                 data-input-id="filter"
                 data-input-label="Filter"
                 data-input-type="text">
            </div>
            <div class="bai-buttons varcheck" data-ng-class="{true: 'var-is-true', false: 'var-is-false'}[MasterDetailCtrl.filterText == '']">
                <button  class="varcheck-if-true btn btn-link btn-primary btn-icon-round" disabled>
                    <i class="md md-search"></i>
                </button>
                <button  class="varcheck-if-false btn btn-link btn-primary btn-icon-round"
                         data-ng-click="MasterDetailCtrl.filterText = ''">
                    <i class="md md-close"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="list-under-filter">
        <div class="list-group max-fullheight scroll-y masterlist"
             data-list-navigation="setDetail"
             data-list="masterList"
             data-active="MasterDetailCtrl.detail"
             data-filter-text="MasterDetailCtrl.filterText">
            <div data-ng-if="masterList.length == 0">
                <a class="list-group-item" data-ui-sref="app.itemPresetCreation" data-ng-bind-html="'items.nopresets'|translate"></a>
            </div>
            <div class="position-relative" data-ng-repeat="preset in masterList | filter:MasterDetailCtrl.filterText">
                <a class="list-group-item"
                   data-ng-class="{active:MasterDetailCtrl.detail.id == preset.id, 'ng-trans ng-trans-scale-up':masterLoaded}"
                   data-ng-click="setDetail(preset)">
                    <h3>{{preset.total | price}}</h3>
                    <h2>{{preset.name}}</h2>
                </a>
                <button class="btn btn-danger btn-link btn-icon-round btn-on-list" title="{{'itemPresets.actions.delete' | translate}}" data-ng-click="MasterDetailCtrl.notifyMaster('deletePreset',preset.id);"><i class="md md-delete"></i></button>
            </div>
        </div>
    </div>
    <a class="btn btn-fab btn-success add-item" data-ui-sref="app.itemPresetCreation">
        <i class="md md-add"></i>
    </a>
</div>