<div class="modal show ng-trans ng-trans-fade">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="categories.close()"><i class="md md-close"></i></button>
                <h4>{{'category.add'|translate}}</h4>
            </div>
            <div class="modal-body" data-ng-init="categories.filterText = ''">

                <div class="ipe buttons-above-input bai-1">
                    <div data-material-input
                         data-ng-model="categories.filterText"
                         data-input-id="filter"
                         data-input-label="Filter"
                         data-input-type="text">
                    </div>
                    <div class="bai-buttons varcheck" data-ng-class="{true: 'var-is-true', false: 'var-is-false'}[categories.filterText == '']">
                        <button  class="varcheck-if-true btn btn-link btn-primary btn-icon-round" disabled>
                            <i class="md md-search"></i>
                        </button>
                        <button  class="varcheck-if-false btn btn-link btn-primary btn-icon-round"
                                 data-ng-click="categories.filterText = ''">
                            <i class="md md-close"></i>
                        </button>
                    </div>
                </div>

            </div>

            <div class="fixedheight-250 scroll-y">

                <div class="list-group" >
                    <div class="list-group-item"
                         data-ng-repeat="category in categories.allCategories | filter: categories.filterText"
                         data-ng-class="{active:category.selected}"
                         data-ng-click="categories.toggleSelectCategory(category)">
                        <h2>{{category.name}}</h2>
                        <p>{{category.description}}</p>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button class="btn btn-danger" data-ng-click="categories.accept()">{{'global.ok'|translate}}</button>
                <button class="btn btn-info" data-ng-click="categories.close()">{{'global.cancel'|translate}}</button>
            </div>
        </div>
    </div>
</div>