<div class="detail-view" data-ng-controller="ClientDetailCtrl as client">


    <div class="btn-toolbar">

        <div class="row">
            <div class="col-sm-8">

                <h3>
                        <span data-in-place-edit
                             data-ipe-key="'refnumber'"
                             data-ipe-value="client.client.refnumber"
                             data-ipe-deletable="false"
                             data-api-id="client.client.id"
                             data-api-name="'client'"
                             data-ipe-name="'clients.refnumber'|translate"></span>
                </h3>

            </div>
            <div class="col-sm-4">

                <div class="btn-group btn-group-sm pull-right">
                    <button class="btn btn-link" data-ng-click="client.showProjects = !client.showProjects">
                        <span data-ng-class="{clientSwitch: true, active: client.showProjects}">
                            <span class="dot"></span><span class="dot"></span><span class="dot"></span>
                            <span class="dot"></span><span class="dot"></span><span class="dot"></span>
                            <span class="dot"></span><span class="dot"></span><span class="dot"></span>
                        </span>
                    </button>
                    <button class="btn btn-link" data-ng-click="client.deleteClient()"><i class="md md-lg md-delete"></i></button>
                </div>

            </div>
        </div>


    </div>
    <h2><span data-in-place-edit
              data-api-id="client.client.id"
              data-api-name="'client'"
              data-ipe-key="'companyname'"
              data-ipe-value="client.client.companyname"
              data-ipe-name="'clients.companyName'|translate"></span> </h2>
    <p><span data-ng-repeat="cat in client.client.categories">{{cat}} </span></p>

    <div class="ng-trans-inplace-container">

        <div data-ng-if="!client.showProjects" class="ng-trans ng-trans-slide-left ng-trans-inplace">
            <div class="row">
                <div class="col-sm-3">
                    {{'clients.contact'|translate}}
                </div>
                <div class="col-sm-9">
                <span data-in-place-edit
                      data-ipe-key="'contact_firstname'"
                      data-ipe-value="client.client.contact_firstname"
                      data-api-name="'client'"
                      data-api-id="client.client.id"
                      data-ipe-name="'clients.firstName'|translate"></span>
                        <span data-in-place-edit
                              data-ipe-key="'contact_lastname'"
                              data-ipe-value="client.client.contact_lastname"
                              data-api-name="'client'"
                              data-api-id="client.client.id"
                              data-ipe-name="'clients.lastName'|translate"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    {{'clients.address'|translate}}
                </div>
                <div class="col-sm-9">
                    <address>
                        <strong><span data-in-place-edit
                                      data-ipe-key="'companyname'"
                                      data-ipe-value="client.client.companyname"
                                      data-api-name="'client'"
                                      data-api-id="client.client.id"
                                      data-ipe-name="'clients.companyName'|translate"></span></strong><br>
                            <span data-in-place-edit
                                  data-ipe-key="'street_no'"
                                  data-ipe-value="client.client.street_no"
                                  data-api-name="'client'"
                                  data-api-id="client.client.id"
                                  data-ipe-name="'clients.streetNo'|translate"></span><br>
                            <span data-in-place-edit
                                  data-ipe-key="'additional'"
                                  data-ipe-value="client.client.additional"
                                  data-api-name="'client'"
                                  data-api-id="client.client.id"
                                  data-ipe-name="'clients.additional'|translate"></span><br>
                            <span data-in-place-edit
                                  data-ipe-key="'zip'"
                                  data-ipe-value="client.client.zip"
                                  data-api-name="'client'"
                                  data-api-id="client.client.id"
                                  data-ipe-name="'clients.zip'|translate"></span> <span data-in-place-edit
                                                                                        data-ipe-key="'city'"
                                                                                        data-ipe-value="client.client.city"
                                                                                        data-api-name="'client'"
                                                                                        data-api-id="client.client.id"
                                                                                        data-ipe-name="'clients.city'|translate"></span><br>
                            <span data-in-place-edit
                                  data-ipe-key="'country'"
                                  data-ipe-value="client.client.country"
                                  data-api-name="'client'"
                                  data-api-id="client.client.id"
                                  data-ipe-name="'clients.country'|translate"></span>
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    {{'clients.mail'|translate}}
                </div>
                <div class="col-sm-9">
                    <ul><li data-ng-repeat="mail in client.client.data.mail">
                    <span data-in-place-edit
                          data-ipe-key="'name'"
                          data-ipe-value="mail.name"
                          data-api-name="'client_data'"
                          data-api-id="mail.id"
                          data-deletable-item="true"
                          data-ipe-name="'clients.mail'|translate"></span>: <span data-in-place-edit
                                                                                  data-ipe-key="'value'"
                                                                                  data-ipe-value="mail.value"
                                                                                  data-api-name="'client_data'"
                                                                                  data-api-id="mail.id"
                                                                                  data-deletable-item="true"
                                                                                  data-ipe-name="'clients.mailAddress'|translate"></span>
                    </li>
                        <li class="ipe">
                            <span class="ipe-empty" data-ng-click="client.setNewConnectionFlag('mail')" data-ng-if="!client.newConnectionFlag.mail">!! + email !!</span>

                            <form data-ng-if="client.newConnectionFlag.mail" data-ng-submit="client.addConnection('mail')">
                                <input data-ng-model="client.newConnection.mail.name">
                                <input data-ng-model="client.newConnection.mail.value">
                                <button class="btn btn-success" type="submit"><i class="md md-check"></i></button>
                                <button class="btn btn-danger" data-ng-click="client.setNewConnectionFlag('mail')" type="button"><i class="md md-cancel"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    {{'clients.phone'|translate}}
                </div>
                <div class="col-sm-9">
                    <ul>
                        <li data-ng-repeat="phone in client.client.data.phone">
                                <span data-in-place-edit
                                      data-ipe-key="'name'"
                                      data-ipe-value="phone.name"
                                      data-api-name="'client_data'"
                                      data-api-id="phone.id"
                                      data-deletable-item="true"
                                      data-ipe-name="'clients.phone'|translate"></span>: <span data-in-place-edit
                                                                                               data-ipe-key="'value'"
                                                                                               data-ipe-value="phone.value"
                                                                                               data-api-name="'client_data'"
                                                                                               data-api-id="phone.id"
                                                                                               data-deletable-item="true"
                                                                                               data-ipe-name="'clients.phoneNumber'|translate"></span>
                        </li>
                        <li class="ipe">
                            <span class="ipe-empty" data-ng-click="client.setNewConnectionFlag('phone')" data-ng-if="!client.newConnectionFlag.phone">!! + phone number !!</span>

                            <form data-ng-if="client.newConnectionFlag.phone" data-ng-submit="client.addConnection('phone')">
                                <input data-ng-model="client.newConnection.phone.name">
                                <input data-ng-model="client.newConnection.phone.value">
                                <button class="btn btn-success" type="submit"><i class="md md-check"></i></button>
                                <button class="btn btn-danger" data-ng-click="client.setNewConnectionFlag('phone')" type="button"><i class="md md-cancel"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-3">
                    {{'clients.comment'|translate}}
                </div>
                <div class="col-sm-9">
                <span data-in-place-edit
                      data-ipe-key="'comment'"
                      data-ipe-value="client.client.comment"
                      data-ipe-type="'textarea'"
                      data-api-name="'client'"
                      data-api-id="client.client.id"
                      data-ipe-name="'clients.comment'|translate"></span>
                </div>
            </div>
        </div>
        <div data-ng-if="client.showProjects" class="ng-trans ng-trans-slide-right ng-trans-inplace">
            <div data-ng-repeat="project in client.projects" class="list-group">
                <a class="list-group-item" data-ui-sref="app.projects({id:{{project.id}}})">
                    <h4 class="list-group-item-heading">{{project.name}}</h4>
                    <p class="list-group-item-text">{{project.description}}</p>
                </a>
            </div>
        </div>

    </div>
</div>