<div class="fullheight">
    <div class="panel panel-default panel-filter">
        <div class="ipe buttons-above-input bai-1">
            <div data-material-input
                 data-ng-model="MasterDetailCtrl.filterText"
                 data-input-id="filter"
                 data-input-label="Filter"
                 data-input-type="text">
            </div>
            <div class="bai-buttons varcheck" data-ng-class="{true: 'var-is-true', false: 'var-is-false'}[MasterDetailCtrl.filterText == '']">
                <button  class="varcheck-if-true btn btn-link btn-primary btn-icon-round" disabled>
                    <i class="md md-search"></i>
                </button>
                <button  class="varcheck-if-false btn btn-link btn-primary btn-icon-round"
                         data-ng-click="MasterDetailCtrl.filterText = ''">
                    <i class="md md-close"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="list-under-filter">
        <div class="list-group max-fullheight scroll-y masterlist"
             data-list-navigation="setDetail"
             data-list="masterList"
             data-active="MasterDetailCtrl.detail"
             data-filter-text="MasterDetailCtrl.filterText">
            <div class="position-relative" data-ng-repeat="client in masterList | filter:MasterDetailCtrl.filterText | orderBy:'companyname'">
                <a class="list-group-item"
                   data-ng-class="{active:MasterDetailCtrl.detail.id == client.id, 'ng-trans ng-trans-scale-up':masterLoaded}"
                   data-ng-click="setDetail(client)">
                    <h3>{{client.refnumber}}</h3>
                    <h2>{{client.companyname}}</h2>
                    <p>{{client.city}}</p>
                </a>
                <button class="btn btn-danger btn-link btn-icon-round btn-on-list" title="{{'clients.deleteClient' | translate}}" data-ng-click="MasterDetailCtrl.notifyMaster('deleteClient',client.id);"><i class="md md-delete"></i></button>
            </div>
        </div>
    </div>
</div>