<div>
            <div data-material-input data-ng-model="MasterDetailCtrl.filterText" data-input-id="filter" data-input-label="Filter"></div>
                <div class="list-group">
        <a class="list-group-item" data-ng-repeat="client in masterList | filter:MasterDetailCtrl.filterText"
           data-ng-class="{active:MasterDetailCtrl.detail.id == client.id, 'ng-trans ng-trans-scale-up':masterLoaded}"
           data-ng-click="setDetail(client)">
            <h4>{{client.companyname}}</h4>
            <p>{{client.city}}<br>
                {{client.refnumber}}</p>
        </a>
    </div>
</div>