<div data-ng-controller="ClientsCtrl as clients">
    <div class="list-group">
    <!-- Default panel contents -->
    <div class="list-group-item disabled">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Filter:</span>
            <input data-ng-model="clients.filterText" type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
    </div>
        <a class="list-group-item" data-ng-repeat="client in clients.clientList | filter:clients.filterText"
            data-ng-click="clients.setDetail(client)" href="#/clients/{{client.id}}">
            <h4>{{client.companyname}}</h4>
            <p>{{client.city}}<br>
            {{client.refnumber}}</p>
        </a>
        <a class="list-group-item" data-ui-sref="app.clientCreation">
            {{'clients.newClient'|translate}}
        </a>
    </div>
    <a data-ui-sref="app.clientCategories">Kategorien</a>

</div>